<template>
	<div class="">
		<div class="header bzg bg-suitmedia v-center">
			<div class="header-content bzg_c text-white" data-col="s8,m10">
				<a href="/" class="link-white h3 f--semi pl-8"> POKE API </a>
			</div>
			<div class="header-end bzg_c text-right" data-col="s2,m2">
				<ul class="list-nostyle">
					<li v-for="(item, index) in sidebarItems" :key="index">
						<a class="sidebar__link" :href="item.link">{{ item.title }} </a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			sidebarItems: [
				{ title: 'Category', link: 'category' },
				{ title: 'List', link: 'list' }
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.header {
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	height: 60px;
	box-shadow: 0px 0px 10px #333333;
	img {
		width: 40px;
		height: 40px;
	}
}

.header-end {
	ul {
		display: flex;
		li {
			.sidebar__link {
				padding: 8px 24px;
				color: #fff;
				&:hover {
					color: #e6e6e6;
				}
				&.active {
					color: #6d6d6d;
				}
			}
		}
	}
}
</style>
