<template>
	<div class="">
		<div class="header bzg bg-suitmedia v-center">
			<div class="header-start bzg_c hidden--medium" data-col="s2">
				<i class="bzi-bars text-white p-19 bg-black" @click="toggleSidebar"></i>
			</div>
			<div class="header-content bzg_c text-white" data-col="s8,m10">
				<a href="/" class="link-white h3 f--semi pl-8">
					<img src="../../assets/img/baze-flat-icon.png" alt="" />
					Suitbaze
				</a>
			</div>
			<div class="header-end bzg_c text-right" data-col="s2,m2">
				<a href="https://github.com/suitmedia/generator-suit-baze">
					<i class="bzi-github text-white bzi--lg pr-8"></i>
				</a>
			</div>
		</div>
		<div class="sidebar" :class="{ 'sidebar-active': isSidebarActive }">
			<ul class="list-nostyle">
				<li v-for="(item, index) in sidebarItems" :key="index">
					<a
						v-if="item.subMenu === undefined"
						:class="{ active: isActivePage(item.link) }"
						class="sidebar__link"
						:href="item.link"
						>{{ item.title }}
					</a>
					<div
						v-if="item.subMenu !== undefined"
						class="sidebar__link__btn"
						@click="toggleDropdown"
					>
						{{ item.title }}
						<i
							:class="isDropdownActive ? 'bzi-caret-up' : 'bzi-caret-down'"
						></i>
					</div>
					<ul
						class="list-nostyle dropdown"
						:class="{ 'dropdown-active': isDropdownActive }"
					>
						<li v-for="(subMenus, i) in item.subMenu" :key="i">
							<a
								:class="{
									active: isActivePage(subMenus.link)
								}"
								:href="subMenus.link"
								class="sidebar__link"
							>
								{{ subMenus.title }}
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div v-if="isSidebarActive" class="overlay" @click="closeSidebar"></div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			isSidebarActive: false,
			isDropdownActive: false,
			sidebarItems: [
				{ title: 'Get Started', link: 'get-started' },
				{ title: 'Headings', link: 'headings' },
				{ title: 'Colors', link: 'colors' },
				{ title: 'List', link: 'list' },
				{ title: 'Text Alignment', link: 'text-alignment' },
				{ title: 'Buttons', link: 'buttons' },
				{ title: 'Alert', link: 'alert' },
				{ title: 'Card', link: 'card' },
				{ title: 'Media Object', link: 'media-object' },
				{ title: 'Grid', link: 'grid' },
				{ title: 'Table', link: 'table' },
				{ title: 'Form', link: 'form' },
				{ title: 'Tabs', link: 'tabs' },
				{ title: 'Pagination', link: 'pagination' },
				{ title: 'Font Awesome', link: 'font-awesome' },
				{ title: 'Responsive Image', link: 'responsive-image' },
				{
					title: 'Plugins',
					link: '',
					subMenu: [
						{
							title: 'Slick Carousel',
							link: 'slick-carousel'
						}
					]
				},
				{ title: 'Poke API', link: 'poke-api' }
			],
			menu: this.$route.name || ''
		}
	},
	methods: {
		toggleSidebar() {
			this.isSidebarActive = !this.isSidebarActive
		},
		closeSidebar() {
			this.isSidebarActive = false
		},
		isActivePage(link) {
			return this.menu === link
		},
		toggleDropdown() {
			this.isDropdownActive = !this.isDropdownActive
		}
	}
}
</script>

<style lang="scss" scoped>
.header {
	z-index: 3;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	height: 60px;
	box-shadow: 0px 0px 10px #333333;
	img {
		width: 40px;
		height: 40px;
	}
	.bzi-bars {
		cursor: pointer;
	}
}

.sidebar {
	z-index: 2;
	position: fixed;
	top: 60px;
	left: 0;
	border-right: 1px solid #cccccc;
	height: 100vh;
	min-width: 200px;
	max-width: 300px;
	transition: all 0.5s ease;
	background-color: #fff;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: #cccccc;
		border-radius: 12px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #a3a3a3;
	}

	.sidebar__link {
		display: block;
		padding: 6px 6px 6px 24px;
		color: #4d4d4d;
		background-color: #fff;
		&:hover {
			background-color: #e6e6e6;
		}
		&.active {
			background-color: #e6e6e6;
		}
	}
}

.sidebar__link__btn {
	@extend .sidebar__link;
	cursor: pointer;
}

@media (max-width: 768px) {
	.sidebar {
		transition: 0.5s linear;
		left: -300px;
	}
}
.sidebar-active {
	left: 0;
	transition: 0.5s linear;
	position: fixed;
}
.dropdown {
	transition: all 0.5s ease-in-out;
	display: none;
	li .sidebar__link {
		padding-left: 44px;
	}
}

.dropdown-active {
	display: block;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
</style>
