<template>
	<div class="">
		<div class="mb-24 mt-24">
			<h2 class="text-suitmedia">Slick Data Attribute</h2>
			<VueSlickCarousel v-bind="dataAttribute" class="mb-32" :arrows="true">
				<div>
					<h2>First</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci! Doloremque
						aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque
						molestiae. Nam, architecto sequi? Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Quos temporibus sed labore beatae
						deserunt nemo error saepe iure odio nisi laborum incidunt fuga
						molestiae fugiat dolore dolor, molestias rerum! Eius?
					</p>
				</div>
				<div>
					<h2>Second</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
						fugiat provident, esse alias aliquid obcaecati recusandae est
						excepturi doloribus labore voluptatibus sequi consequuntur, culpa
						accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor
						sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam
						odit veniam. Deleniti vitae saepe expedita accusamus provident quae
						autem magnam, voluptatum itaque earum, aspernatur, molestiae animi
						labore.
					</p>
				</div>
				<div>
					<h2>Third</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
						amet corporis, cupiditate blanditiis dolore architecto, sequi animi
						repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus
						facilis architecto hic, maiores. Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Fuga animi provident aperiam amet
						deleniti, fugit id velit, soluta veniam nostrum laboriosam laborum
						cum similique repellat voluptas perspiciatis quidem nulla! Earum.
					</p>
				</div>
				<div>
					<h2>Fourth</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
					fugiat provident, esse alias aliquid obcaecati recusandae est
					excepturi doloribus labore voluptatibus sequi consequuntur, culpa
					accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor sit
					amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit
					veniam. Deleniti vitae saepe expedita accusamus provident quae autem
					magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
				</div>
				<div>
					<h2>Fifth</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
					fugiat provident, esse alias aliquid obcaecati recusandae est
					excepturi doloribus labore voluptatibus sequi consequuntur, culpa
					accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor sit
					amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit
					veniam. Deleniti vitae saepe expedita accusamus provident quae autem
					magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
				</div>
				<div>
					<h2>Sixth</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
					fugiat provident, esse alias aliquid obcaecati recusandae est
					excepturi doloribus labore voluptatibus sequi consequuntur, culpa
					accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor sit
					amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit
					veniam. Deleniti vitae saepe expedita accusamus provident quae autem
					magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
				</div>
				<template #prevArrow="arrowOption">
					<div class="custom-arrow">
						{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
					</div>
				</template>
			</VueSlickCarousel>
		</div>
		<section class="mt-24">
			<ul class="tabs__bar js-tabs slick-attribute-item">
				<li
					class="tabs__nav js-tabs-link is-active"
					data-control="#slickAttributeHTML"
					@click="changeTabSlickAttribute"
				>
					HTML
				</li>
				<li
					class="tabs__nav js-tabs-link"
					data-control="#slickAttributeJS"
					@click="changeTabSlickAttribute"
				>
					JavaScript
				</li>
			</ul>

			<div class="tabs__content slick-attribute-item">
				<div id="slickAttributeHTML" class="tabs__item js-tabs-item is-active">
					<pre><code class="html hljs"><span>&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-multiple"</span> <span>data-slick</span>=<span>'{"dots": false, "slidesToShow": 2, "slidesToScroll": 1}'</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>First<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic, tempora at quaerat voluptatem? Corporis quo odit
        officiis consequuntur ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Second<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eveniet porro recusandae libero! Quae, minima?
        Temporibus aperiam harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia quidem minus mollitia.
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Third<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nostrum asperiores atque, repellat possimus facilis
        sed eum iusto ut aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta reiciendis at earum?
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Fourth<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil impedit, rerum corporis odit id quisquam cupiditate
        quae commodi magnam consectetur ea consequuntur maxime debitis error numquam earum tenetur iusto.
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Fifth<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur magni porro eaque, deserunt autem odio
        iste at sunt praesentium harum asperiores a eum dolore, ipsum repellendus ipsam pariatur aperiam?
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Sixth<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum, dolorum accusantium veniam dolorem autem pariatur aut
        facere a aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit, reiciendis dignissimos alias.
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
				<div id="slickAttributeJS" class="tabs__item js-tabs-item">
					<pre><code class="javascript hljs">_.exist(<span>'.js-slick-multiple'</span>)
    .then(_.toJqueryObject)
    .then(_.createSlider({
        <span>dots</span>: <span >true</span>,
        <span>infinite</span>: <span >true</span>,
        <span>speed</span>: <span >500</span>,
        <span>slidesToShow</span>: <span >3</span>,
        <span>slidesToScroll</span>: <span >3</span>
    }))
    .catch(_.noop)</code></pre>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			dataAttribute: {
				dots: true,
				infinite: true,
				speed: 500,
				slidesToShow: 2,
				slidesToScroll: 1
			}
		}
	},
	methods: {
		changeTabSlickAttribute(e) {
			const target = e.target
			const control = target.dataset.control
			const item = document.querySelector(control)
			const active = document.querySelector(
				'.slick-attribute-item .js-tabs-link.is-active'
			)
			const activeItem = document.querySelector(
				'.slick-attribute-item .js-tabs-item.is-active'
			)

			active.classList.remove('is-active')
			target.classList.add('is-active')

			activeItem.classList.remove('is-active')
			item.classList.add('is-active')
		}
	}
}
</script>
