<template>
	<div class="">
		<div class="mb-24 mt-24">
			<h2 class="text-suitmedia">Slick Adaptive Height</h2>
			<VueSlickCarousel v-bind="heightSlide">
				<div>
					<h2>First</h2>
				</div>
				<div>
					<h2>Second</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
						fugiat provident, esse alias aliquid obcaecati recusandae est
						excepturi doloribus labore voluptatibus sequi consequuntur, culpa
						accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor
						sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam
						odit veniam. Deleniti vitae saepe expedita accusamus provident quae
						autem magnam, voluptatum itaque earum, aspernatur, molestiae animi
						labore.
					</p>
				</div>
				<div>
					<h2>Third</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
						amet corporis, cupiditate blanditiis dolore architecto, sequi animi
						repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus
						facilis architecto hic, maiores.
					</p>
				</div>
			</VueSlickCarousel>
		</div>
		<section class="mt-24">
			<ul class="tabs__bar js-tabs slick-height-item">
				<li
					class="tabs__nav js-tabs-link is-active"
					data-control="#heightHTML"
					@click="changeTabHeight"
				>
					HTML
				</li>
				<li
					class="tabs__nav js-tabs-link"
					data-control="#heightJS"
					@click="changeTabHeight"
				>
					JavaScript
				</li>
			</ul>

			<div class="tabs__content slick-height-item">
				<div id="heightHTML" class="tabs__item js-tabs-item is-active">
					<pre><code class="html hljs"><pre><code class="html"><span >&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-adaptive-height"</span>&gt;</span>
    <span >&lt;<span>div</span>&gt;</span>
        <span >&lt;<span>h2</span>&gt;</span>First<span >&lt;/<span>h2</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;<span>div</span>&gt;</span>
        <span >&lt;<span>h2</span>&gt;</span>Second<span >&lt;/<span>h2</span>&gt;</span>
        <span >&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugiat provident, esse alias aliquid obcaecati
        recusandae est excepturi doloribus labore voluptatibus sequi consequuntur, culpa accusamus minima libero dolorem eos repudiandae.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit veniam. Deleniti vitae
        saepe expedita accusamus provident quae autem magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
        <span >&lt;/<span>p</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;<span>div</span>&gt;</span>
        <span >&lt;<span>h2</span>&gt;</span>Third<span >&lt;/<span>h2</span>&gt;</span>
        <span >&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione amet corporis, cupiditate blanditiis dolore architecto,
        sequi animi repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus facilis architecto hic, maiores.
        <span >&lt;/<span>p</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
<span >&lt;/<span>div</span>&gt;</span></code></pre></code></pre>
				</div>
				<div id="heightJS" class="tabs__item js-tabs-item">
					<pre><code class="javascript hljs">_.exist(<span>'.js-slick-adaptive-height'</span>)
    .then(_.toJqueryObject)
    .then(_.createSlider({
        <span>dots</span>: <span >true</span>,
        <span>infinite</span>: <span >true</span>,
        <span>speed</span>: <span>300</span>,
        <span>slidesToShow</span>: <span>1</span>,
        <span>adaptiveHeight</span>: <span >true</span>
    }))
    .catch(_.noop)</code></pre>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			heightSlide: {
				accessibility: false,
				dots: true,
				infinite: true,
				slidesToShow: 1,
				slidesToScroll: 1,
				adaptiveHeight: true
			}
		}
	},
	methods: {
		changeTabHeight(e) {
			const target = e.target
			const control = target.dataset.control
			const item = document.querySelector(control)
			const active = document.querySelector(
				'.slick-height-item .js-tabs-link.is-active'
			)
			const activeItem = document.querySelector(
				'.slick-height-item .js-tabs-item.is-active'
			)

			active.classList.remove('is-active')
			target.classList.add('is-active')

			activeItem.classList.remove('is-active')
			item.classList.add('is-active')
		}
	}
}
</script>
