<template>
	<div class="">
		<div class="mb-24 mt-24">
			<h2 class="text-suitmedia">Slick Multiple Items</h2>
			<VueSlickCarousel v-bind="multipleSlides">
				<div>
					<h2>First</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic,
					tempora at quaerat voluptatem? Corporis quo odit officiis consequuntur
					ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
				</div>
				<div>
					<h2>Second</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae
					eveniet porro recusandae libero! Quae, minima? Temporibus aperiam
					harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia
					quidem minus mollitia.
				</div>
				<div>
					<h2>Third</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
					nostrum asperiores atque, repellat possimus facilis sed eum iusto ut
					aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta
					reiciendis at earum?
				</div>
				<div>
					<h2>Fourth</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil
					impedit, rerum corporis odit id quisquam cupiditate quae commodi
					magnam consectetur ea consequuntur maxime debitis error numquam earum
					tenetur iusto.
				</div>
				<div>
					<h2>Fifth</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum
					consequatur magni porro eaque, deserunt autem odio iste at sunt
					praesentium harum asperiores a eum dolore, ipsum repellendus ipsam
					pariatur aperiam?
				</div>
				<div>
					<h2>Sixth</h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum,
					dolorum accusantium veniam dolorem autem pariatur aut facere a
					aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit,
					reiciendis dignissimos alias.
				</div>
			</VueSlickCarousel>
		</div>

		<section class="mt-24">
			<ul class="tabs__bar js-tabs slick-multiple-item">
				<li
					class="tabs__nav js-tabs-link is-active"
					data-control="#slickMultipleHTML"
					@click="changeTabSlickMultiple"
				>
					HTML
				</li>
				<li
					class="tabs__nav js-tabs-link"
					data-control="#slickMultipleJS"
					@click="changeTabSlickMultiple"
				>
					JavaScript
				</li>
			</ul>

			<div class="tabs__content slick-multiple-item">
				<div id="slickMultipleHTML" class="tabs__item js-tabs-item is-active">
					<pre><code class="html hljs"><span>&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-multiple"</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>First<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore hic, tempora at quaerat voluptatem? Corporis quo odit
        officiis consequuntur ipsum mollitia ad, culpa, delectus nam odio ab enim architecto est.
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Second<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae eveniet porro recusandae libero! Quae, minima?
        Temporibus aperiam harum omnis, tempora cum fugiat, nisi distinctio ab nostrum quia quidem minus mollitia.
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Third<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente nostrum asperiores atque, repellat possimus facilis
        sed eum iusto ut aperiam doloribus rerum mollitia ipsum qui, aspernatur soluta reiciendis at earum?
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Fourth<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis nihil impedit, rerum corporis odit id quisquam cupiditate
        quae commodi magnam consectetur ea consequuntur maxime debitis error numquam earum tenetur iusto.
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Fifth<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consequatur magni porro eaque, deserunt autem odio
        iste at sunt praesentium harum asperiores a eum dolore, ipsum repellendus ipsam pariatur aperiam?
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span>&gt;</span>
        <span>&lt;<span>h2</span>&gt;</span>Sixth<span>&lt;/<span>h2</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, laborum, dolorum accusantium veniam dolorem autem pariatur aut
        facere a aliquam, magnam doloremque maxime incidunt. Blanditiis aliquam sit, reiciendis dignissimos alias.
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
				<div id="slickMultipleJS" class="tabs__item js-tabs-item">
					<pre><code class="javascript hljs">_.exist(<span>'.js-slick-multiple'</span>)
    .then(_.toJqueryObject)
    .then(_.createSlider({
        <span>dots</span>: <span>true</span>,
        <span>infinite</span>: <span>true</span>,
        <span>speed</span>: <span>500</span>,
        <span>slidesToShow</span>: <span>3</span>,
        <span>slidesToScroll</span>: <span>3</span>
    }))
    .catch(_.noop)</code></pre>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			multipleSlides: {
				dots: true,
				focusOnSelect: true,
				infinite: true,
				speed: 500,
				slidesToShow: 3,
				slidesToScroll: 3,
				touchThreshold: 5
			}
		}
	},
	methods: {
		changeTabSlickMultiple(e) {
			const target = e.target
			const control = target.dataset.control
			const item = document.querySelector(control)
			const active = document.querySelector(
				'.slick-multiple-item .js-tabs-link.is-active'
			)
			const activeItem = document.querySelector(
				'.slick-multiple-item .js-tabs-item.is-active'
			)

			active.classList.remove('is-active')
			target.classList.add('is-active')

			activeItem.classList.remove('is-active')
			item.classList.add('is-active')
		}
	}
}
</script>
