<template>
	<div class="">
		<div class="mb-24">
			<h2 class="text-suitmedia">Slick Single Item</h2>
			<VueSlickCarousel v-bind="singleSlide" class="mb-32" :arrows="true">
				<div>
					<h2>First</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
						repellendus amet sit odit dolore quisquam animi adipisci! Doloremque
						aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque
						molestiae. Nam, architecto sequi? Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Quos temporibus sed labore beatae
						deserunt nemo error saepe iure odio nisi laborum incidunt fuga
						molestiae fugiat dolore dolor, molestias rerum! Eius?
					</p>
				</div>
				<div>
					<h2>Second</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
						fugiat provident, esse alias aliquid obcaecati recusandae est
						excepturi doloribus labore voluptatibus sequi consequuntur, culpa
						accusamus minima libero dolorem eos repudiandae. Lorem ipsum dolor
						sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam
						odit veniam. Deleniti vitae saepe expedita accusamus provident quae
						autem magnam, voluptatum itaque earum, aspernatur, molestiae animi
						labore.
					</p>
				</div>
				<div>
					<h2>Third</h2>
					<p class="mb-0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione
						amet corporis, cupiditate blanditiis dolore architecto, sequi animi
						repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus
						facilis architecto hic, maiores. Lorem ipsum dolor sit amet,
						consectetur adipisicing elit. Fuga animi provident aperiam amet
						deleniti, fugit id velit, soluta veniam nostrum laboriosam laborum
						cum similique repellat voluptas perspiciatis quidem nulla! Earum.
					</p>
				</div>
				<template #prevArrow="arrowOption">
					<div class="custom-arrow">
						{{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
					</div>
				</template>
			</VueSlickCarousel>
		</div>
		<section class="mt-24">
			<ul class="tabs__bar js-tabs slick-single-item">
				<li
					class="tabs__nav js-tabs-link is-active"
					data-control="#slickSingleHTML"
					@click="changeTabSlickSingle"
				>
					HTML
				</li>
				<li
					class="tabs__nav js-tabs-link"
					data-control="#slickSingleJS"
					@click="changeTabSlickSingle"
				>
					JavaScript
				</li>
			</ul>

			<div class="tabs__content slick-single-item">
				<div id="slickSingleHTML" class="tabs__item js-tabs-item is-active">
					<pre class="docs__code hljs">
&lt;div class="slick-container js-slick-single"&gt;
    &lt;div&gt;
        &lt;h2&gt;First&lt;/h2&gt;
        &lt;p class="mb-0"&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos repellendus amet sit odit dolore quisquam animi adipisci!
        Doloremque aperiam sequi quam autem laboriosam consequuntur voluptatibus, eaque molestiae. Nam, architecto sequi?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos temporibus sed labore beatae deserunt nemo error
        saepe iure odio nisi laborum incidunt fuga molestiae fugiat dolore dolor, molestias rerum! Eius?
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;h2&gt;Second&lt;/h2&gt;
        &lt;p class="mb-0"&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores fugiat provident, esse alias aliquid obcaecati
        recusandae est excepturi doloribus labore voluptatibus sequi consequuntur, culpa accusamus minima libero dolorem eos repudiandae.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, fuga cumque quibusdam odit veniam. Deleniti vitae
        saepe expedita accusamus provident quae autem magnam, voluptatum itaque earum, aspernatur, molestiae animi labore.
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;h2&gt;Third&lt;/h2&gt;
        &lt;p class="mb-0"&gt;
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione amet corporis, cupiditate blanditiis dolore architecto,
        sequi animi repudiandae culpa ipsa illo veniam officiis, porro aut? Possimus facilis architecto hic, maiores.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga animi provident aperiam amet deleniti, fugit id velit,
        soluta veniam nostrum laboriosam laborum cum similique repellat voluptas perspiciatis quidem nulla! Earum.
        &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre
					>
				</div>
				<div id="slickSingleJS" class="tabs__item js-tabs-item">
					<pre class="docs__code hljs">
_.exist('.js-slick-single')
    .then(_.toJqueryObject)
    .then(_.createSlider({
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1
    }))
    .catch(_.noop)</pre
					>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			singleSlide: {
				infinite: true,
				dots: true,
				speed: 500,
				slidesToShow: 1,
				slidesToScroll: 1
			}
		}
	},
	methods: {
		changeTabSlickSingle(e) {
			const target = e.target
			const control = target.dataset.control
			const item = document.querySelector(control)
			const active = document.querySelector(
				'.slick-single-item .js-tabs-link.is-active'
			)
			const activeItem = document.querySelector(
				'.slick-single-item .js-tabs-item.is-active'
			)

			active.classList.remove('is-active')
			target.classList.add('is-active')

			activeItem.classList.remove('is-active')
			item.classList.add('is-active')
		}
	}
}
</script>
