<template>
	<div class="">
		<div class="mb-24 mt-24">
			<h2 class="text-suitmedia">Synchronized Slick</h2>
			<VueSlickCarousel
				ref="slickView1"
				:asNavFor="slickView2"
				:focus-on-select="true"
			>
				<div><img src="//via.placeholder.com/1200x500?text=1A" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1B" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1C" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1D" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1E" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1F" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1G" alt="" /></div>
			</VueSlickCarousel>
			<VueSlickCarousel
				ref="slickView2"
				:asNavFor="slickView1"
				:slides-to-show="4"
				:focus-on-select="true"
				:center-mode="true"
			>
				<div><img src="//via.placeholder.com/1200x500?text=1A" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1B" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1C" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1D" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1E" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1F" alt="" /></div>
				<div><img src="//via.placeholder.com/1200x500?text=1G" alt="" /></div>
			</VueSlickCarousel>
		</div>
		<section class="mt-24">
			<ul class="tabs__bar js-tabs slick-syncronize-item">
				<li
					class="tabs__nav js-tabs-link is-active"
					data-control="#syncronizeHTML"
					@click="changeTabSyncronize"
				>
					HTML
				</li>
				<li
					class="tabs__nav js-tabs-link"
					data-control="#syncronizeJS"
					@click="changeTabSyncronize"
				>
					JavaScript
				</li>
			</ul>

			<div class="tabs__content slick-syncronize-item">
				<div id="syncronizeHTML" class="tabs__item js-tabs-item is-active">
					<pre><code class="html hljs"><span >&lt;<span>div</span> <span>class</span>=<span>"js-slick-sync"</span>&gt;</span>
    <span >&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-view"</span> <span>id</span>=<span>"slickView1"</span> <span>data-nav</span>=<span>"#slickNav1"</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1A"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1B"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1C"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1D"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1E"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1F"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=1G"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-nav"</span> <span>id</span>=<span>"slickNav1"</span> <span>data-nav-for</span>=<span>"#slickView1"</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1A"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1B"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1C"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1D"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1E"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1F"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=1G"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
<span >&lt;/<span>div</span>&gt;</span>

<span >&lt;<span>div</span> <span>class</span>=<span>"js-slick-sync"</span>&gt;</span>
    <span >&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-view"</span> <span>id</span>=<span>"slickView2"</span> <span>data-nav</span>=<span>"#slickNav2"</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2A"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2B"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2C"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2D"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2E"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2F"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/1200x500?text=2G"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;<span>div</span> <span>class</span>=<span>"slick-container js-slick-nav"</span> <span>id</span>=<span>"slickNav2"</span> <span>data-nav-for</span>=<span>"#slickView2"</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2A"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2B"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2C"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2D"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2E"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2F"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
        <span >&lt;<span>div</span>&gt;</span><span >&lt;<span>img</span> <span>src</span>=<span>"//via.placeholder.com/150?text=2G"</span> <span>alt</span>=<span>""</span>&gt;</span><span >&lt;/<span>div</span>&gt;</span>
    <span >&lt;/<span>div</span>&gt;</span>
<span >&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
				<div id="syncronizeJS" class="tabs__item js-tabs-item">
					<pre><code class="javascript hljs">_.exist(<span>'.js-slick-sync'</span>)
    .then(_.toJqueryObject)
    .then(<span><span>$slickSync</span> =&gt;</span> {
        <span >for</span> (<span >var</span> i = <span>0</span>; i &lt; $slickSync.length; i++) {
            <span >let</span> $slickSyncView = $($(<span>'.js-slick-view'</span>)[i])
            <span >let</span> $slickSyncNav = $($(<span>'.js-slick-nav'</span>)[i])

            _.createSlider({
                <span>slidesToShow</span>: <span>1</span>,
                <span>slidesToScroll</span>: <span>1</span>,
                <span>arrows</span>: <span>false</span>,
                <span>fade</span>: <span>true</span>,
                <span>asNavFor</span>: $slickSyncView.data(<span>'nav'</span>)
            })($slickSyncView)

            _.createSlider({
                <span>slidesToShow</span>: <span>5</span>,
                <span>slidesToScroll</span>: <span>1</span>,
                <span>dots</span>: <span>true</span>,
                <span>focusOnSelect</span>: <span>true</span>,
                <span>centerMode</span>: <span>true</span>,
                <span>asNavFor</span>: $slickSyncNav.data(<span>'nav-for'</span>),
                <span>responsive</span>: [
                    {
                        <span>breakpoint</span>: <span>1024</span>,
                        <span>settings</span>: {
                            <span>slidesToShow</span>: <span>3</span>
                        }
                    }
                ]
            })($slickSyncNav)
        }
    })
    .catch(_.noop)</code></pre>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	mounted() {
		this.slickView1 = this.$refs.slickView1
		this.slickView2 = this.$refs.slickView2
	},
	methods: {
		changeTabSyncronize(e) {
			const target = e.target
			const control = target.dataset.control
			const item = document.querySelector(control)
			const active = document.querySelector(
				'.slick-syncronize-item .js-tabs-link.is-active'
			)
			const activeItem = document.querySelector(
				'.slick-syncronize-item .js-tabs-item.is-active'
			)

			active.classList.remove('is-active')
			target.classList.add('is-active')

			activeItem.classList.remove('is-active')
			item.classList.add('is-active')
		}
	}
}
</script>
