<template>
	<div class="">
		<div class="mb-24 mt-24">
			<h2 class="text-suitmedia">Slick Variable Width</h2>
			<VueSlickCarousel v-bind="widthSlide">
				<div><img src="//via.placeholder.com/100x150?text=100px" alt="" /></div>
				<div><img src="//via.placeholder.com/150x150?text=150px" alt="" /></div>
				<div><img src="//via.placeholder.com/500x150?text=500px" alt="" /></div>
				<div><img src="//via.placeholder.com/200x150?text=200px" alt="" /></div>
				<div><img src="//via.placeholder.com/300x150?text=300px" alt="" /></div>
				<div><img src="//via.placeholder.com/600x150?text=600px" alt="" /></div>
			</VueSlickCarousel>
		</div>

		<section class="mt-24">
			<ul class="tabs__bar js-tabs slick-width-item">
				<li
					class="tabs__nav js-tabs-link is-active"
					data-control="#slickWidthHTML"
					@click="changeTabSlickwidth"
				>
					HTML
				</li>
				<li
					class="tabs__nav js-tabs-link"
					data-control="#slickWidthJS"
					@click="changeTabSlickwidth"
				>
					JavaScript
				</li>
			</ul>

			<div class="tabs__content slick-width-item">
				<div id="slickWidthHTML" class="tabs__item js-tabs-item is-active">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"slick-container js-slick-variable-width"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//via.placeholder.com/100x150?text=100px"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//via.placeholder.com/150x150?text=150px"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//via.placeholder.com/500x150?text=500px"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//via.placeholder.com/200x150?text=200px"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//via.placeholder.com/300x150?text=300px"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-name">img</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"//via.placeholder.com/600x150?text=600px"</span> <span class="hljs-attr">alt</span>=<span class="hljs-string">""</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
				</div>
				<div id="slickWidthJS" class="tabs__item js-tabs-item">
					<pre><code class="javascript hljs">_.exist(<span class="hljs-string">'.js-slick-variable-width'</span>)
    .then(_.toJqueryObject)
    .then(_.createSlider({
        <span class="hljs-attr">dots</span>: <span class="hljs-literal">true</span>,
        <span class="hljs-attr">infinite</span>: <span class="hljs-literal">true</span>,
        <span class="hljs-attr">speed</span>: <span class="hljs-number">500</span>,
        <span class="hljs-attr">slidesToShow</span>: <span class="hljs-number">1</span>,
        <span class="hljs-attr">centerMode</span>: <span class="hljs-literal">true</span>,
        <span class="hljs-attr">variableWidth</span>: <span class="hljs-literal">true</span>
    }))
    .catch(_.noop)</code></pre>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
export default {
	data() {
		return {
			widthSlide: {
				dots: true,
				infinite: true,
				centerMode: true,
				centerPadding: '20px',
				slidesToShow: 1,
				slidesToScroll: 1,
				variableWidth: true
			}
		}
	},
	methods: {
		changeTabSlickwidth(e) {
			const target = e.target
			const control = target.dataset.control
			const item = document.querySelector(control)
			const active = document.querySelector(
				'.slick-width-item .js-tabs-link.is-active'
			)
			const activeItem = document.querySelector(
				'.slick-width-item .js-tabs-item.is-active'
			)

			active.classList.remove('is-active')
			target.classList.add('is-active')

			activeItem.classList.remove('is-active')
			item.classList.add('is-active')
		}
	}
}
</script>
