.alert {
	position: relative;
	padding: 8px 16px;
	border: 1px solid;
	margin: 15px 0;
	line-height: $base_line_height;
	vertical-align: middle;
	background-color: #f0f0f0;
}

@mixin alertStyle($bg, $color: #000, $shade: dark) {
	@extend .alert;
	background-color: $bg;

	@if $shade == dark {
		color: $bg;
		background-color: lighten($bg, 30%);
	} @else {
		color: lighten($color, 45%);
	}
}

@each $state, $color in $palettes {
	.alert--#{$state} {
		@include alertStyle($color);
	}
}

@each $state, $color in $light-palettes {
	.alert--#{$state} {
		@include alertStyle($color, $black80, light);
	}
}

.alert--popup {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	height: 100%;
	padding-top: 15%;
	// display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

.alert--popup-content {
	width: 80%;
	margin: auto;
}

.alert--close {
	float: right;
	cursor: pointer;
}
