.progress-bar {
	position: relative;
	overflow: hidden;
	background: rgba(lighten($primary, 40%), 0.3);
	border-radius: 4px;

	.bar {
		display: block;
		height: 4px;
		background: $primary;
		border-radius: 4px;

		@media #{$medium} {
			height: 8px;
		}
	}
}

.hash-container {
	background-color: rgba(lighten($primary, 40%), 0.2);
	padding: 14px 16px;
}

.card {
	display: flex;
	flex: 1;
	flex-direction: column;
	border: 1px solid;
	margin-left: 14px;

	.card--header {
		margin-left: 0;
		padding: 8px 16px;
		border-bottom: 1px solid;
	}
	.card--image {
		width: 100%;
	}
	.card--body {
		flex: 1;
		padding: 8px 16px;
	}

	.card--footer {
		padding: 8px 16px;
		border-top: 1px solid;
	}
}

.card-group {
	display: flex;
	flex-direction: column;

	@media #{$medium} {
		display: flex;
		flex-direction: row;
	}

	&.bzg--flex .card {
		margin-left: 0 !important;
		height: 100%;
	}
}

@mixin cardStyle($bg: #fff, $color: #000, $shade: 'dark', $state: '') {
	@extend .card;

	@if $state == 'light-grey' {
		color: #000;
	}

	.card--header {
		@if $shade == dark {
			color: #fff;
			border-color: darken($bg, 25%);
			background-color: darken($bg, 15%);
		} @else {
			color: #000;
		}
	}
	.card--footer {
		@if $shade == dark {
			background-color: darken($bg, 15%);
			border-color: darken($bg, 25%);
		} @else {
			background-color: darken($color, 10%);
			color: #000;
		}
	}

	@if $shade == dark {
		color: #fff;
		background-color: $bg;
		border-color: darken($bg, 25%);
	} @else {
		color: #000;
	}
}

@each $state, $color in $palettes {
	.card--#{$state} {
		@include cardStyle($color);
	}
}

@each $state, $color in $light-palettes {
	.card--#{$state} {
		@include cardStyle($color, $black80, light, $state);
	}
}
