.pagination {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 0 $space 0;
	list-style: none;
	user-select: none;

	li {
		margin: 0 2px;
	}

	a[disabled] {
		cursor: default;
		opacity: 0.6;
		pointer-events: none;
	}
	a {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: solid 1px #ddd;
		color: currentcolor;
		background: #eee;

		&.is-active {
			cursor: default;
			font-weight: bold;
			background-color: #d5d5d5 !important;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			color: currentColor;
			background-color: #d5d5d5 !important;
		}
	}
}

//disabled
// !pointer

.pagination--right {
	justify-content: end;
	// text-align: right;
	display: flex;
	padding: 0;
	margin: 0 0 $space 0;
	list-style: none;
	user-select: none;

	li {
		margin: 0 2px;
	}
	a[disabled] {
		cursor: default;
		opacity: 0.6;
		pointer-events: none;
	}

	a {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: solid 1px #ddd;
		color: currentcolor;
		background: #eee;

		&.is-active {
			cursor: default;
			font-weight: bold;
			background-color: #d5d5d5 !important;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			color: currentColor;
			background-color: #d5d5d5 !important;
		}
	}
}

.pagination--left {
	justify-content: start;
	// text-align: left;
	display: flex;
	padding: 0;
	margin: 0 0 $space 0;
	list-style: none;
	user-select: none;

	li {
		margin: 0 2px;
	}
	a[disabled] {
		cursor: default;
		opacity: 0.6;
		pointer-events: none;
	}

	a {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: solid 1px #ddd;
		color: currentcolor;
		background: #eee;

		&.is-active {
			cursor: default;
			font-weight: bold;
			background-color: #d5d5d5 !important;
			pointer-events: none;
		}

		&:hover,
		&:focus {
			color: currentColor;
			background-color: #d5d5d5 !important;
		}
	}
}
