/* Style for the tab bar */
.tabs__bar {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	//masih aneh
	&--justify {
		list-style-type: none;
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #ccc;
		display: flex;
		justify-content: space-between;
	}
}

.tabs__nav {
	padding: 10px 20px;
	cursor: pointer;
	&.is-active {
		border-bottom: 2px solid #007bff;
	}
}

.tabs__content {
	.tabs__item {
		display: none;
		&.is-active {
			display: block;
		}
	}
}
