<template>
	<main>
		<div class="container">
			<h2 class="text-suitmedia">Pokemon</h2>

			<div class="mb-24">
				<input
					id=""
					v-model="search"
					type="text"
					class="form-control"
					placeholder="Search pokemon .. "
				/>
				<div class="flex">
					<p
						v-for="(i, index) in suggested"
						:key="index"
						class="suggest"
						@click="viewDetailPokemon(i.name)"
					>
						{{ search === '' ? '' : `${i.name} ||` }}
					</p>
				</div>
			</div>

			<div v-if="!viewDetail" class="bzg bzg--flex card-group">
				<div
					v-for="(pokemon, i) in pokemonList"
					:key="i"
					class="bzg_c mb-24"
					data-col="s12, m6, l3"
				>
					<div class="card--primary">
						<div class="card--header">
							<h1 class="text-center text-white">{{ pokemon.name }}</h1>
						</div>
						<img
							class="card--image"
							:src="imgUrl + pokemon.id + '.png'"
							@click="viewDetailPokemon(pokemon.name)"
						/>
						<div class="card--body">
							<p class="h4">
								Type :
								<span
									v-for="(type, j) in pokemon.types"
									:key="j"
									class="text-white"
								>
									{{ type.type.name }}
								</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div v-else class="">
				<div class="">
					<button @click="viewDetail = false">
						<i class="bzi-arrow_forward left"></i>
					</button>
				</div>
				<div class="">
					<img
						:src="imgUrl + selectedPokemon.id + '.png'"
						:alt="selectedPokemon.name"
						width="200"
					/>
				</div>
				<div class="">
					<h2>{{ selectedPokemon.name }}</h2>
					<p>
						<label for="">Type : </label>
						<span v-for="(i, index) in selectedPokemon.types" :key="index">{{
							i.type.name
						}}</span>
					</p>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	async asyncData({ $axios }) {
		const getListPokemon = await $axios.$get(
			`https://pokeapi.co/api/v2/pokemon?limit=20`
		)
		return { getListPokemon }
	},
	data() {
		return {
			getListPokemon: [],
			pokemonList: [],
			selectedPokemon: '',
			imgUrl:
				'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/',
			viewDetail: false,
			search: '',
			allPokemon: [],
			suggested: []
		}
	},
	watch: {
		search() {
			const filteredPokemon = this.allPokemon.filter(item => {
				return item.name.includes(this.search)
			})

			this.suggested = filteredPokemon.slice(0, 3)
		}
	},
	created() {
		this.getEachPokemon()
		this.getTypes()
		this.getAllPokemon()
	},
	methods: {
		getEachPokemon() {
			this.getListPokemon.results.forEach(pokemon => {
				pokemon.id = pokemon.url
					.split('/')
					.filter(part => !!part)
					.pop()
				this.pokemonList.push(pokemon)
			})
		},
		getTypes() {
			this.pokemonList.forEach(async pokemon => {
				const data = await this.$axios.$get(
					`https://pokeapi.co/api/v2/pokemon/${pokemon.id}`
				)
				pokemon.types = data.types
				this.pokemonList.push(pokemon)
			})
		},
		async viewDetailPokemon(pokemonName) {
			this.viewDetail = true
			const data = await this.$axios.$get(
				`https://pokeapi.co/api/v2/pokemon/${pokemonName}`
			)
			this.selectedPokemon = data
		},
		async getAllPokemon() {
			const data = await this.$axios.$get(
				`https://pokeapi.co/api/v2/pokemon?limit=150`
			)
			this.allPokemon = data.results
		}
	}
}
</script>

<style lang="scss" scoped>
.left {
	transform: rotate(180deg);
}
.card--image,
.suggest {
	cursor: pointer;
}
</style>
