<template>
	<div class="mb-24">
		<h2 class="text-suitmedia font-fira">Background Color</h2>

		<p v-for="(bg, index) in bgColor" :key="index" :class="bg.color">
			Background class color = ".{{ bg.color }}"
		</p>

		<div class="text-size14">
			<pre><code class="html hljs xml"><span>&lt;<span>p</span> <span>class</span>=<span>"bg-primary"</span>&gt;</span>Background class color = ".bg-primary"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"bg-secondary"</span>&gt;</span>Background class color = ".bg-secondary"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"bg-warning"</span>&gt;</span>Background class color = ".bg-warning"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"bg-danger"</span>&gt;</span>Background class color = ".bg-danger"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"bg-black"</span>&gt;</span>Background class color = ".bg-black"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"bg-light-grey"</span>&gt;</span>Background class color = ".bg-light-grey"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"bg-white"</span>&gt;</span>Background class color = ".bg-white"<span>&lt;/<span>p</span>&gt;</span></code></pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			bgColor: [
				{
					color: 'bg-primary'
				},
				{
					color: 'bg-secondary'
				},
				{
					color: 'bg-warning'
				},
				{
					color: 'bg-danger'
				},
				{
					color: 'bg-black'
				},
				{
					color: 'bg-light-grey'
				},
				{
					color: 'bg-white'
				}
			]
		}
	}
}
</script>
