<template>
	<div class="mb-24">
		<h2 class="text-suitmedia font-fira">Text Color</h2>

		<p v-for="(text, index) in textColor" :key="index" :class="text.color">
			Text class color = ".{{ text.color }}"
		</p>

		<div class="text-size14">
			<pre><code class="html hljs"><span>&lt;<span>p</span> <span>class</span>=<span>"text-primary"</span>&gt;</span>Text class color = ".text-primary"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-secondary"</span>&gt;</span>Text class color = ".text-secondary"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-warning"</span>&gt;</span>Text class color = ".text-warning"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-danger"</span>&gt;</span>Text class color = ".text-danger"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black"</span>&gt;</span>Text class color = ".text-black"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-light-grey"</span>&gt;</span>Text class color = ".text-light-grey"<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-white"</span>&gt;</span>Text class color = ".text-white"<span>&lt;/<span>p</span>&gt;</span></code></pre>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			textColor: [
				{ color: 'text-primary' },
				{ color: 'text-secondary' },
				{ color: 'text-warning' },
				{ color: 'text-danger' },
				{ color: 'text-black' },
				{ color: 'text-light-grey' },
				{ color: 'text-white' }
			]
		}
	}
}
</script>
