<template>
	<div>
		<TopHeader />
		<div>
			<div class="content">
				<div class="sticky-footer-container">
					<div class="sticky-footer-container-item --pushed">
						<Nuxt />
					</div>
				</div>
				<Footer />
			</div>
		</div>
	</div>
</template>

<script>
import TopHeader from '~/components/header/TopHeader.vue'
import Footer from '~/components/header/Footer.vue'

export default {
	name: 'DefaultLayout',
	components: { TopHeader, Footer },
	head() {
		return {
			link: [
				{
					rel: 'canonical',
					href: process.env.BASE_URL + this.$route.path
				}
			]
		}
	}
}
</script>
