<template>
	<div class="">
		<Navigation />
		<Nuxt />
	</div>
</template>

<script>
import Navigation from '~/components/header/Navigation.vue'
export default {
	name: 'PokeLayout',
	components: { Navigation }
}
</script>
