<template>
	<main>
		<div class="container">
			<!-- Alert -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Alert</h2>
				<div v-for="(color, index) in alertColors" :key="index">
					<div :class="[color !== 'default' ? 'alert--' + color : 'alert']">
						Alert {{ color }}
					</div>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>div</span> <span>class</span>=<span>"alert"</span>&gt;</span>Alert default<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--primary"</span>&gt;</span>Alert primary<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--secondary"</span>&gt;</span>Alert secondary<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--warning"</span>&gt;</span>Alert warning<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--danger"</span>&gt;</span>Alert danger<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--black"</span>&gt;</span>Alert black<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--light-grey"</span>&gt;</span>Alert light-grey<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"alert--white"</span>&gt;</span>Alert white<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Alert box-->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Alert Box</h2>
				<button
					class="btn--primary"
					data-alert="#alert1"
					@click="toggleAlert('alert1')"
				>
					Alert 1
				</button>
				<button
					class="btn--primary js-trigger-alert"
					data-alert="#alert2"
					@click="toggleAlert('alert2')"
				>
					Alert 2
				</button>
				<div v-if="isShowAlert.alert1" id="alert1" class="alert--popup">
					<div class="alert--primary alert--popup-content">
						<span class="alert--close" @click="hideAlert('alert1')"
							><i class="bzi-close"></i
						></span>
						<h4>Lorem Ipsum!</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<hr />
						<p class="mb-0">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam
							qui obcaecati tempora. Quod, nesciunt culpa sunt sit itaque
							voluptate molestiae in quia quos quam tempora sequi illo
							molestias? Rerum, sit?
						</p>
					</div>
				</div>

				<div v-if="isShowAlert.alert2" id="alert2" class="alert--popup">
					<div class="alert--danger alert--popup-content">
						<span class="alert--close" @click="hideAlert('alert2')"
							><i class="bzi-close"></i
						></span>
						<h4>Number 2</h4>
						<p>Test Number 2</p>
					</div>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary js-trigger-alert"</span> <span>data-alert</span>=<span>"#alert1"</span>&gt;</span>Alert 1<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary js-trigger-alert"</span> <span>data-alert</span>=<span>"#alert2"</span>&gt;</span>Alert 2<span>&lt;/<span>button</span>&gt;</span>

<span>&lt;<span>div</span> <span>class</span>=<span>"alert--popup"</span> <span>id</span>=<span>"alert1"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"alert--primary alert--popup-content"</span> &gt;</span>
        <span>&lt;<span>span</span> <span>class</span>=<span>"alert--close js-alert-close"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>span</span>&gt;</span> <span>&lt;<span>h4</span>&gt;</span>Lorem Ipsum!<span>&lt;/<span>h4</span>&gt;</span>
        <span>&lt;<span>p</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span>&lt;/<span>p</span>&gt;</span>
        <span>&lt;<span>hr</span>&gt;</span>
        <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora.
        Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?<span>&lt;/<span>p</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>

<span>&lt;<span>div</span> <span>class</span>=<span>"alert--popup"</span> <span>id</span>=<span>"alert2"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"alert--danger alert--popup-content"</span> &gt;</span>
        <span>&lt;<span>span</span> <span>class</span>=<span>"alert--close js-alert-close"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>span</span>&gt;</span> <span>&lt;<span>h4</span>&gt;</span>Number 2<span>&lt;/<span>h4</span>&gt;</span>
        <span>&lt;<span>p</span>&gt;</span>Test Number 2<span>&lt;/<span>p</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			alertColors: [
				'default',
				'primary',
				'secondary',
				'warning',
				'danger',
				'black',
				'light-grey',
				'white'
			],
			isShowAlert: {
				alert1: false,
				alert2: false
			}
		}
	},
	methods: {
		toggleAlert(name) {
			this.isShowAlert[name] = !this.isShowAlert[name]
		},
		hideAlert(name) {
			this.isShowAlert[name] = false
		}
	}
}
</script>
