<template>
	<main>
		<div class="container">
			<!-- Buttons -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Buttons</h2>
				<p v-for="(color, index) in btnColors" :key="index">
					<button :class="['btn--' + color]">Button Color</button>
					<button :class="['btn--ghost-' + color]">Button Color</button>
					<button :class="['btn--flat-' + color]">Button Color</button>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-primary"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-primary"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--secondary"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-secondary"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-secondary"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--warning"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-warning"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-warning"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--danger"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-danger"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-danger"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--black"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-black"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--light-grey"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-light-grey"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--white"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-white"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-white"</span>&gt;</span>Button Color<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Button sizing -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Button Sizing</h2>

				<p v-for="(size, index) in btnSizes" :key="index">
					<button :class="['btn--primary', 'btn--' + size]">
						{{ size.charAt(0).toUpperCase() + size.slice(1) }} Button
					</button>
					<button :class="['btn--ghost-primary', 'btn--' + size]">
						{{ size.charAt(0).toUpperCase() + size.slice(1) }} Button
					</button>
					<button :class="['btn--flat-primary', 'btn--' + size]">
						{{ size.charAt(0).toUpperCase() + size.slice(1) }} Button
					</button>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--small"</span>&gt;</span>Small Button<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-primary btn--small"</span>&gt;</span>Small Button<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-primary btn--small"</span>&gt;</span>Small Button<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary"</span>&gt;</span>Normal Button<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-primary"</span>&gt;</span>Normal Button<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-primary"</span>&gt;</span>Normal Button<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--large"</span>&gt;</span>Large Button<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-primary btn--large"</span>&gt;</span>Large Button<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-primary btn--large"</span>&gt;</span>Large Button<span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- TO DO : refactor with v-for -->
			<!-- Icon-only buttons -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Icon-only Buttons</h2>

				<p v-for="(buttonGroup, index) in buttonGroups" :key="index">
					<button
						v-for="button in buttonGroup"
						:key="button.icon"
						:class="button.class"
						class="mr-4"
					>
						<i :class="button.icon"></i>
					</button>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--small btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-search fa-sm"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black btn--small btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times fa-sm"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey btn--small btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-user fa-sm"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-user"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-search"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--large btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times fa-lg"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black btn--large btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-user fa-lg"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey btn--large btn--icon"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-search fa-lg"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- TO DO : refactor with v-for -->
			<!-- Icon + Text buttons -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Icon + Text Buttons</h2>

				<p v-for="(iconTextButton, index) in iconTextButtons" :key="index">
					<button
						v-for="button in iconTextButton"
						:key="button.icon"
						:class="['btn', 'mr-4', button.class]"
					>
						<i :class="button.icon"></i>
						{{ button.text }}
					</button>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--small"</span>&gt;</span>
        Search <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-search"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black btn--small"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span> Cancel
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey btn--small"</span>&gt;</span>
        Profile <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-user"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-user"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span> Profile
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black"</span>&gt;</span>
        Search <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-search"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span> Cancel
    <span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--large"</span>&gt;</span>
        Cancel <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-times"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--ghost-black btn--large"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-user"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span> Profile
    <span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;<span>button</span> <span>class</span>=<span>"btn--flat-light-grey btn--large"</span>&gt;</span>
        <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-search"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span> Search
    <span>&lt;/<span>button</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			btnColors: [
				'primary',
				'secondary',
				'warning',
				'danger',
				'black',
				'light-grey',
				'white'
			],
			btnSizes: ['small', 'normal', 'large'],
			buttonGroups: [
				[
					{
						icon: 'bzi-search bzi--sm',
						class: 'btn--primary btn--small btn--icon'
					},
					{
						icon: 'bzi-close bzi--sm',
						class: 'btn--ghost-black btn--small btn--icon'
					},
					{
						icon: 'bzi-user bzi--sm',
						class: 'btn--flat-light-grey btn--small btn--icon'
					}
				],
				[
					{ icon: 'bzi-user', class: 'btn--primary btn--icon' },
					{ icon: 'bzi-search', class: 'btn--ghost-black btn--icon' },
					{ icon: 'bzi-close', class: 'btn--flat-light-grey btn--icon' }
				],
				[
					{
						icon: 'bzi-close bzi--lg',
						class: 'btn--primary btn--large btn--icon'
					},
					{
						icon: 'bzi-user bzi--lg',
						class: 'btn--ghost-black btn--large btn--icon'
					},
					{
						icon: 'bzi-search bzi--lg',
						class: 'btn--flat-light-grey btn--large btn--icon'
					}
				]
			],
			iconTextButtons: [
				[
					{
						icon: 'bzi-search',
						class: 'btn--primary btn--small',
						text: 'Search'
					},
					{
						icon: 'bzi-close',
						class: 'btn--ghost-black btn--small',
						text: 'Cancel'
					},
					{
						icon: 'bzi-user',
						class: 'btn--flat-light-grey btn--small',
						text: 'Profile'
					}
				],
				[
					{ icon: 'bzi-user', class: 'btn--primary', text: 'Profile' },
					{ icon: 'bzi-search', class: 'btn--ghost-black', text: 'Search' },
					{
						icon: 'bzi-close',
						class: 'btn--flat-light-grey',
						text: 'Cancel'
					}
				],
				[
					{
						icon: 'bzi-close',
						class: 'btn--primary btn--large',
						text: 'Cancel'
					},
					{
						icon: 'bzi-user',
						class: 'btn--ghost-black btn--large',
						text: 'Profile'
					},
					{
						icon: 'bzi-search',
						class: 'btn--flat-light-grey btn--large',
						text: 'Search'
					}
				]
			]
		}
	}
}
</script>
