<template>
	<main>
		<div class="container">
			<!-- Flex Card -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Flex Card</h2>
				<!-- v-for CARD -->
				<div class="card-group">
					<div
						v-for="(card, index) in cards"
						:key="index"
						class="card"
						:class="`card--${card.type} mb-12`"
					>
						<div :class="[card.header ? 'card--header' : '']">
							{{ card.header }}
						</div>
						<img class="card--image" src="../assets/img/favicon.png" alt="" />
						<div class="card--body">
							<h5>Card</h5>
							<p class="mb-0">{{ card.content }}</p>
						</div>
						<div :class="[card.footer ? 'card--footer' : '']">
							{{ card.footer }}
						</div>
					</div>
				</div>
				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>div</span> <span>class</span>=<span>"card-group"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"card--primary mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--header"</span>&gt;</span>
            Card header
        <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>img</span> <span>class</span>=<span>"card--image"</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--body"</span>&gt;</span>
            <span>&lt;<span>h5</span>&gt;</span>Card<span>&lt;/<span>h5</span>&gt;</span>
            <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!<span>&lt;/<span>p</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--footer"</span>&gt;</span>
            Card footer
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"card--secondary mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--header"</span>&gt;</span>
            Card header
        <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>img</span> <span>class</span>=<span>"card--image"</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--body"</span>&gt;</span>
            <span>&lt;<span>h5</span>&gt;</span>Card<span>&lt;/<span>h5</span>&gt;</span>
            <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<span>&lt;/<span>p</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--footer"</span>&gt;</span>
            Card footer
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"card--light-grey mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--header"</span>&gt;</span>
            Card header
        <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>img</span> <span>class</span>=<span>"card--image"</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--body"</span>&gt;</span>
            <span>&lt;<span>h5</span>&gt;</span>Card<span>&lt;/<span>h5</span>&gt;</span>
            <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!<span>&lt;/<span>p</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"card mb-12"</span>&gt;</span>
        <span>&lt;<span>img</span> <span>class</span>=<span>"card--image"</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--body"</span>&gt;</span>
            <span>&lt;<span>h5</span>&gt;</span>Card<span>&lt;/<span>h5</span>&gt;</span>
            <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!<span>&lt;/<span>p</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--footer"</span>&gt;</span>
            Card footer
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Baze Grid Card -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Baze Grid Card</h2>

				<!-- v-for Grid Cards -->
				<div
					class="bzg bzg--flex card-group js-card"
					data-card="dev/data/data.json"
				>
					<div
						v-for="card in gridCards"
						:id="card.id"
						:key="card.id"
						class="bzg_c mb-24"
						data-col="s12, m6, l3"
					>
						<div class="card--primary">
							<div class="card--header">Header title</div>
							<a href="#"
								><img class="card--image" :src="card.imageSrc" alt=""
							/></a>
							<div class="card--body">
								<h5>{{ card.name }}</h5>
								<p class="text-right">{{ card.date }}</p>
								<p class="mb-0">{{ card.content }}</p>
							</div>
							<div class="card--footer">Footer title</div>
						</div>
					</div>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>div</span> <span>class</span>=<span>"bzg bzg--flex card-group js-card"</span> <span>data-card</span>=<span>"dev/data/data.json"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c mb-24"</span> <span>id</span>=<span>"..."</span> <span>data-col</span>=<span>"s12,m6,l3"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"card--primary"</span>&gt;</span>
            <span>&lt;<span>div</span> <span>class</span>=<span>"card--header"</span>&gt;</span>
                Header title
            <span>&lt;/<span>div</span>&gt;</span>
            <span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>img</span> <span>class</span>=<span>"card--image"</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span>
            <span>&lt;<span>div</span> <span>class</span>=<span>"card--body"</span>&gt;</span>
                <span>&lt;<span>h5</span>&gt;</span>Johanna Sargent<span>&lt;/<span>h5</span>&gt;</span>
                <span>&lt;<span>p</span> <span>class</span>=<span>"text-right"</span>&gt;</span>14 Februari 2019<span>&lt;/<span>p</span>&gt;</span>
                <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.<span>&lt;/<span>p</span>&gt;</span>
            <span>&lt;/<span>div</span>&gt;</span>
            <span>&lt;<span>div</span> <span>class</span>=<span>"card--footer"</span>&gt;</span>
                Footer title
            <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			cards: [
				{
					type: 'primary',
					header: 'Card header',
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!',
					footer: 'Card footer'
				},
				{
					type: 'secondary',
					header: 'Card header',
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
					footer: 'Card footer'
				},
				{
					type: 'light-grey',
					header: 'Card header',
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam, architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!',
					footer: ''
				},
				{
					type: 'default',
					header: '',
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam, architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!',
					footer: 'Card footer'
				}
			],
			gridCards: [
				{
					id: '1',

					imageSrc: '//via.placeholder.com/180?text=30',
					name: 'Fields Mcconnell',
					date: '20 Maret 2019',
					content:
						'Ullamco dolore minim culpa est non aliqua labore adipisicing commodo veniam magna culpa.'
				},
				{
					id: '2',

					imageSrc: '//via.placeholder.com/180?text=32',
					name: 'Oneil Larson',
					date: '13 Maret 2019',
					content: 'Sit officia anim cupidatat cupidatat occaecat culpa ut.'
				},
				{
					id: '3',

					imageSrc: '//via.placeholder.com/180?text=33',
					name: 'White Lowe',
					date: '22 Maret 2019',
					content: 'Occaecat consectetur eiusmod incididunt esse dolore.'
				},
				{
					id: '4',

					imageSrc: '//via.placeholder.com/180?text=33',
					name: 'Larson Powers',
					date: '3 April 2019',
					content:
						'Irure adipisicing id magna eiusmod magna id dolor esse velit.'
				},
				{
					id: '5',

					imageSrc: '//via.placeholder.com/180?text=35',
					name: 'Tami Wood',
					date: '24 Maret 2019',
					content:
						'Minim pariatur irure cillum culpa cupidatat qui commodo amet.'
				},
				{
					id: '6',

					imageSrc: '//via.placeholder.com/180?text=36',
					name: 'Johanna Sargent',
					date: '14 Februari 2019',
					content:
						'Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.'
				}
			]
		}
	}
}
</script>
