<template>
	<main>
		<div class="container">
			<!-- Text color -->
			<TextColors />

			<hr />

			<!-- Background color -->
			<BgColors />
			<hr />

			<!-- Black tones -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Black Tones</h2>

				<p
					v-for="(black, index) in blackColor"
					:key="index"
					:class="black.color"
					class="custom-span"
				>
					Black tone = ".{{ black.color }}" ($black)
					<span class="bg-black custom-span"></span>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>p</span> <span>class</span>=<span>"text-black10"</span>&gt;</span>Black tone = ".text-black10" ($black10)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black20"</span>&gt;</span>Black tone = ".text-black20" ($black20)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black30"</span>&gt;</span>Black tone = ".text-black30" ($black30)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black40"</span>&gt;</span>Black tone = ".text-black40" ($black40)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black50"</span>&gt;</span>Black tone = ".text-black50" ($black50)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black60"</span>&gt;</span>Black tone = ".text-black60" ($black60)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black70"</span>&gt;</span>Black tone = ".text-black70" ($black70)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black80"</span>&gt;</span>Black tone = ".text-black80" ($black80)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black90"</span>&gt;</span>Black tone = ".text-black90" ($black90)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"text-black"</span>&gt;</span>Black tone = ".text-black" ($black)<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Link color -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Link Color</h2>

				<p v-for="(link, index) in linkColor" :key="index" :class="link.color">
					Link color =
					<a :class="link.color" href="#">".{{ link.color }}" </a>

					<span v-if="link.color === 'link-primary'">
						(<a href="#">Default link color</a>)</span
					>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-primary"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-primary"<span>&lt;/<span>a</span>&gt;</span> (<span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>Default link color<span>&lt;/<span>a</span>&gt;</span>)<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-secondary"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-secondary"<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-warning"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-warning"<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-danger"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-danger"<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-black"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-black"<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-light-grey"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-light-grey"<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span>&gt;</span>Link color = <span>&lt;<span>a</span> <span>class</span>=<span>"link-white"</span> <span>href</span>=<span>"#"</span>&gt;</span>".link-white"<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
import TextColors from '~/components/colors/TextColors.vue'
import BgColors from '~/components/colors/BgColors.vue'

export default {
	components: { TextColors, BgColors },
	data() {
		return {
			blackColor: [
				{
					color: 'text-black10'
				},
				{
					color: 'text-black20'
				},
				{
					color: 'text-black30'
				},
				{
					color: 'text-black40'
				},
				{
					color: 'text-black50'
				},
				{
					color: 'text-black60'
				},
				{
					color: 'text-black70'
				},
				{
					color: 'text-black80'
				},
				{
					color: 'text-black90'
				},
				{
					color: 'text-black'
				}
			],
			linkColor: [
				{
					color: 'link-primary'
				},
				{
					color: 'link-secondary'
				},
				{
					color: 'link-warning'
				},
				{
					color: 'link-danger'
				},
				{
					color: 'link-black'
				},
				{
					color: 'link-light-grey'
				},
				{
					color: 'link-white'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
span {
	.custom-span {
		display: inline-block;
		width: 20px;
		height: 20px;
		// 	// line-height: 20px;
		// 	// text-align: center;
		// 	margin-left: 10px;
	}
}
</style>
