<template>
	<main>
		<div class="container">
			<!-- Font Awesome -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Font Awesome</h2>
				<div class="ml-24">
					<h5 class="mb-4">Font Awesome Solid</h5>
					<div>
						<i class="bzi-briefcase"></i>
						<div class="text-size14">
							<pre><code class="html hljs"><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-bell"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span></code></pre>
						</div>
					</div>

					<h5 class="mb-4">Font Awesome Regular</h5>
					<div>
						<i class="bzi-globe"></i>
						<div class="text-size14">
							<pre><code class="html hljs"><span>&lt;<span>i</span> <span>class</span>=<span>"far fa-bell"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span></code></pre>
						</div>
					</div>

					<h5 class="mb-4">Font Awesome Brand</h5>
					<div>
						<i class="bzi-github"></i>
						<div class="text-size14">
							<pre><code class="html hljs"><span>&lt;<span>i</span> <span>class</span>=<span>"fab fa-github"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span></code></pre>
						</div>
					</div>
				</div>
			</div>
			<hr />

			<!-- Icon sizing -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Icon Sizing</h2>
				<p>
					<i class="bzi-check-circle bzi--xs"></i>
					<i class="bzi-check-circle bzi-sm"></i>
					<i class="bzi-check-circle"></i>
					<i class="bzi-check-circle bzi--lg"></i>
					<i class="bzi-check-circle bzi--2x"></i>
					<i class="bzi-check-circle bzi--3x"></i>
					<i class="bzi-check-circle bzi--4x"></i>
					<i class="bzi-check-circle bzi--5x"></i>
					<i class="bzi-check-circle bzi--6x"></i>
					<i class="bzi-check-circle bzi--7x"></i>
					<i class="bzi-check-circle bzi--8x"></i>
					<i class="bzi-check-circle bzi--9x"></i>
					<i class="bzi-check-circle bzi--10x"></i>
				</p>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>p</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-xs"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-sm"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-lg"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-2x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-3x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-4x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-5x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-6x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-7x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-8x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-9x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
    <span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-check-circle fa-10x"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span>
<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Font Awesome Documentation -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Font Awesome Documentation</h2>
				<p>
					Untuk informasi lebih lanjut mengenai Font Awesome silakan kunjungi
					link berikut:
				</p>
				<p>
					<a href="https://fontawesome.com/icons"
						><i class="bzi-attachment"></i> Daftar Icon</a
					>
					|
					<a
						href="https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use"
						><i class="bzi-briefcase"></i> Dokumentasi</a
					>
				</p>
			</div>
			<hr />
		</div>
	</main>
</template>

<script></script>

<style lang="scss" scoped></style>
