<template>
	<main>
		<div class="container">
			<!-- Form -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Form</h2>
				<!-- Double Submit -->
				<form action="" @submit.prevent="submit">
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input type="text" class="form-input" placeholder="Text" />
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Full Width Input
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								type="text"
								class="form-input form-input--block"
								placeholder="Full Width Input"
							/>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Password Input
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<!-- <input
											class="form-input"
											type="password"
											name="password"
											placeholder="Password"
										/> -->
							<input
								type="password"
								class="form-input form-input--block"
								placeholder="Password"
							/>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Email Address
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								type="email"
								class="form-input form-input--block"
								placeholder="Email"
							/>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Number</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input type="number" class="form-input" placeholder="Number" />
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Single File Input (Full Width)
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								id="singleFile"
								class="form-input js-file-input"
								type="file"
								name="file"
							/>
							<label class="flex form-file-label" for="singleFile">
								<div
									class="js-file-name form-file-input form-input--block"
								></div>
								<div class="btn--primary ml-4">Browse</div>
							</label>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Multiple File Input
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								id="multipleFile"
								class="form-input js-file-input"
								type="file"
								name="file"
								multiple
							/>
							<label class="flex form-file-label" for="multipleFile">
								<div class="js-file-name form-file-input"></div>
								<div class="btn--primary ml-4">Browse</div>
							</label>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Text Area Input
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<textarea type="text" class="form-input" placeholder="Text Area">
							</textarea>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Disabled Input
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								class="form-input"
								type="text"
								name="disabled"
								placeholder="Disabled"
								disabled
							/>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Read-only Input
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								class="form-input"
								type="text"
								name="readonly"
								placeholder="Read-only"
								readonly
							/>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Dropdown Select
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<select class="form-input" name="dropdown">
								<option value="1">Option 1</option>
								<option value="2">Option 2</option>
								<option value="3">Option 3</option>
							</select>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Radio Buttons
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<div class="form-check-group">
								<label class="form-check__item" for="rbOption1"
									><input id="rbOption1" type="radio" name="radio" /> Option
									1</label
								>
								<label class="form-check__item" for="rbOption2"
									><input id="rbOption2" type="radio" name="radio" /> Option
									2</label
								>
								<label class="form-check__item" for="rbOption3"
									><input id="rbOption3" type="radio" name="radio" /> Option
									3</label
								>
							</div>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<div class="form-check-group">
								<label class="form-check__item" for="cbOption1"
									><input
										id="cbOption1"
										type="checkbox"
										name="checkbox"
										value="Option 1"
										checked
									/>
									Option 1</label
								>
								<label class="form-check__item" for="cbOption2"
									><input
										id="cbOption2"
										type="checkbox"
										name="checkbox"
										value="Option 2"
									/>
									Option 2</label
								>
								<label class="form-check__item" for="cbOption3"
									><input
										id="cbOption3"
										type="checkbox"
										name="checkbox"
										value="Option 3"
										checked
									/>
									Option 3</label
								>
							</div>
						</div>
					</div>

					<div class="bzg mb-12">
						<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
							<button class="btn btn--primary" type="submit">Submit</button>
							<button class="btn btn--ghost-secondary" type="reset">
								Cancel
							</button>
						</div>
					</div>
				</form>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>form</span> <span>action</span>=<span>""</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Text Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"text"</span> <span>name</span>=<span>"text"</span> <span>placeholder</span>=<span>"Text"</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Full Width Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input form-input--block"</span> <span>type</span>=<span>"text"</span> <span>name</span>=<span>"fullwidth"</span> <span>placeholder</span>=<span>"Full Width Input"</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Password Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"password"</span> <span>name</span>=<span>"password"</span> <span>placeholder</span>=<span>"Password"</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Email Address<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"email"</span> <span>name</span>=<span>"email"</span> <span>placeholder</span>=<span>"Email"</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Number Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"number"</span> <span>name</span>=<span>"number"</span> <span>placeholder</span>=<span>"Number"</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Single File Input (Full Width)<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
            <span>&lt;<span>input</span> <span>class</span>=<span>"form-input js-file-input"</span> <span>id</span>=<span>"singleFile"</span> <span>type</span>=<span>"file"</span> <span>name</span>=<span>"file"</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"flex form-file-label"</span> <span>for</span>=<span>"singleFile"</span>&gt;</span>
                <span>&lt;<span>div</span> <span>class</span>=<span>"js-file-name form-file-input form-input--block"</span>&gt;</span> <span>&lt;/<span>div</span>&gt;</span>
                <span>&lt;<span>div</span> <span>class</span>=<span>"btn--primary ml-4"</span>&gt;</span>Browse<span>&lt;/<span>div</span>&gt;</span>
            <span>&lt;/<span>label</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Multiple File Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
            <span>&lt;<span>input</span> <span>class</span>=<span>"form-input js-file-input"</span> <span>id</span>=<span>"multipleFile"</span> <span>type</span>=<span>"file"</span> <span>name</span>=<span>"file"</span> <span>multiple</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"flex form-file-label"</span> <span>for</span>=<span>"multipleFile"</span>&gt;</span>
                    <span>&lt;<span>div</span> <span>class</span>=<span>"js-file-name form-file-input"</span>&gt;</span> <span>&lt;/<span>div</span>&gt;</span>
                    <span>&lt;<span>div</span> <span>class</span>=<span>"btn--primary ml-4"</span>&gt;</span>Browse<span>&lt;/<span>div</span>&gt;</span>
            <span>&lt;/<span>label</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Textarea Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>textarea</span> <span>class</span>=<span>"form-input"</span> <span>name</span>=<span>"textarea"</span> <span>placeholder</span>=<span>"Text Area"</span>&gt;</span><span>&lt;/<span>textarea</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Disabled Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"text"</span> <span>name</span>=<span>"disabled"</span> <span>placeholder</span>=<span>"Disabled"</span> <span>disabled</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Read-only Input<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span><span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"text"</span> <span>name</span>=<span>"readonly"</span> <span>placeholder</span>=<span>"Read-only"</span> <span>readonly</span>&gt;</span><span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Dropdown Select<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
            <span>&lt;<span>select</span> <span>class</span>=<span>"form-input"</span> <span>name</span>=<span>"dropdown"</span>&gt;</span>
                <span>&lt;<span>option</span> <span>value</span>=<span>"1"</span>&gt;</span>Option 1<span>&lt;/<span>option</span>&gt;</span>
                <span>&lt;<span>option</span> <span>value</span>=<span>"2"</span>&gt;</span>Option 2<span>&lt;/<span>option</span>&gt;</span>
                <span>&lt;<span>option</span> <span>value</span>=<span>"3"</span>&gt;</span>Option 3<span>&lt;/<span>option</span>&gt;</span>
            <span>&lt;/<span>select</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Radio Buttons<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
            <span>&lt;<span>div</span> <span>class</span>=<span>"form-check-group"</span>&gt;</span>
                <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"rbOption1"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"rbOption1"</span> <span>type</span>=<span>"radio"</span> <span>name</span>=<span>"radio"</span>&gt;</span> Option 1<span>&lt;/<span>label</span>&gt;</span>
                <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"rbOption2"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"rbOption2"</span> <span>type</span>=<span>"radio"</span> <span>name</span>=<span>"radio"</span>&gt;</span> Option 2<span>&lt;/<span>label</span>&gt;</span>
                <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"rbOption3"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"rbOption3"</span> <span>type</span>=<span>"radio"</span> <span>name</span>=<span>"radio"</span>&gt;</span> Option 3<span>&lt;/<span>label</span>&gt;</span>
            <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Checkbox<span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
            <span>&lt;<span>div</span> <span>class</span>=<span>"form-check-group"</span>&gt;</span>
                <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"cbOption1"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"cbOption1"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"checkbox"</span> <span>checked</span>&gt;</span> Option 1<span>&lt;/<span>label</span>&gt;</span>
                <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"cbOption2"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"cbOption2"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"checkbox"</span>&gt;</span> Option 2<span>&lt;/<span>label</span>&gt;</span>
                <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"cbOption3"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"cbOption3"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"checkbox"</span> <span>checked</span>&gt;</span> Option 3<span>&lt;/<span>label</span>&gt;</span>
            <span>&lt;/<span>div</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span> <span>data-offset</span>=<span>"m4,l4"</span>&gt;</span>
            <span>&lt;<span>button</span> <span>class</span>=<span>"btn btn--primary"</span> <span>type</span>=<span>"submit"</span>&gt;</span>Submit<span>&lt;/<span>button</span>&gt;</span>
            <span>&lt;<span>button</span> <span>class</span>=<span>"btn btn--ghost-secondary"</span> <span>type</span>=<span>"reset"</span>&gt;</span>Cancel<span>&lt;/<span>button</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>form</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Form Validation -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Form Validation</h2>
				<form action="" @submit.prevent="handleSubmit">
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								v-model.trim="$v.formValidation.username.$model"
								type="text"
								class="form-input"
								placeholder="Username"
								:class="{
									'form-input--error': $v.formValidation.username.$error
								}"
								@blur="$v.formValidation.username.$touch()"
							/>
							<div
								v-if="$v.formValidation.username.$error"
								class="form-error-msg"
							>
								<div v-if="!$v.formValidation.username.required">
									Username harus diisi.
								</div>
							</div>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">
							Email Address
						</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								v-model.trim="$v.formValidation.email.$model"
								type="email"
								class="form-input"
								placeholder="Email"
								:class="{
									'form-input--error': $v.formValidation.email.$error
								}"
								@blur="$v.formValidation.email.$touch()"
							/>
							<div v-if="$v.formValidation.email.$error" class="form-error-msg">
								<div v-if="!$v.formValidation.email.required">
									Email harus diisi.
								</div>
								<div v-if="!$v.formValidation.email.email">
									Email anda tidak valid
								</div>
							</div>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<input
								v-model.trim="$v.formValidation.birthdate.$model"
								type="date"
								class="form-input"
								placeholder="Birthdate"
								:class="{
									'form-input--error': $v.formValidation.birthdate.$error
								}"
								@blur="$v.formValidation.birthdate.$touch()"
							/>
							<div
								v-if="$v.formValidation.birthdate.$error"
								class="form-error-msg"
							>
								<div v-if="!$v.formValidation.birthdate.required">
									Birthdate harus di isi.
								</div>
							</div>
						</div>
					</div>
					<div class="bzg mb-12">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<label
								class="form-check__item"
								:class="{
									'text-danger':
										$v.formValidation.gender.$error &&
										!$v.formValidation.gender.required
								}"
								for="gender1"
							>
								<input
									id="gender1"
									v-model.trim="$v.formValidation.gender.$model"
									type="radio"
									name="gender"
									value="male"
									:class="{
										'form-input--error': $v.formValidation.gender.$error
									}"
									@change="handleGender('male')"
								/>
								Male
							</label>
							<label
								class="form-check__item"
								:class="{
									'text-danger':
										$v.formValidation.gender.$error &&
										!$v.formValidation.gender.required
								}"
								for="gender2"
							>
								<input
									id="gender2"
									v-model.trim="$v.formValidation.gender.$model"
									type="radio"
									name="gender"
									value="female"
									:class="{
										'form-input--error': $v.formValidation.gender.$error
									}"
									@change="handleGender('female')"
								/>
								Female
							</label>

							<div
								v-if="$v.formValidation.gender.$dirty"
								class="form-error-msg"
							>
								<div v-if="!$v.formValidation.gender.required">
									Harus pilih salah satu.
								</div>
							</div>
						</div>
					</div>

					<div class="bzg mb-24">
						<div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
						<div class="bzg_c" data-col="s12,m8,l8">
							<div class="form-check-group form-input--block">
								<label
									class="form-check__item"
									:class="{
										'text-danger':
											$v.formValidation.hobbies.$error &&
											!$v.formValidation.hobbies.required
									}"
									for="hobby1"
								>
									<input
										id="hobby1"
										v-model.trim="$v.formValidation.hobbies.$model"
										type="checkbox"
										name="hobby"
										value="reading"
									/>
									Reading
								</label>
								<label
									class="form-check__item"
									:class="{
										'text-danger':
											$v.formValidation.hobbies.$error &&
											!$v.formValidation.hobbies.required
									}"
									for="hobby2"
								>
									<input
										id="hobby2"
										v-model.trim="$v.formValidation.hobbies.$model"
										type="checkbox"
										name="hobby"
										value="writing"
									/>
									Writing
								</label>
								<label
									class="form-check__item"
									:class="{
										'text-danger':
											$v.formValidation.hobbies.$error &&
											!$v.formValidation.hobbies.required
									}"
									for="hobby3"
								>
									<input
										id="hobby3"
										v-model.trim="$v.formValidation.hobbies.$model"
										type="checkbox"
										name="hobby"
										value="running"
									/>
									Running
								</label>
								<label
									class="form-check__item"
									:class="{
										'text-danger':
											$v.formValidation.hobbies.$error &&
											!$v.formValidation.hobbies.required
									}"
									for="hobby4"
								>
									<input
										id="hobby4"
										v-model.trim="$v.formValidation.hobbies.$model"
										type="checkbox"
										name="hobby"
										value="swimming"
									/>
									Swimming
								</label>

								<div
									v-if="$v.formValidation.hobbies.$dirty"
									class="form-error-msg"
								>
									<div v-if="!$v.formValidation.hobbies.required">
										Harus pilih salah satu.
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bzg mb-12">
						<div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
							<button
								class="btn btn--primary"
								type="submit"
								:disabled="$v.$invalid || isSending"
							>
								Submit
							</button>
						</div>
					</div>
				</form>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>form</span> <span>action</span>=<span>""</span> <span>class</span>=<span>"js-validate"</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Username<span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
        <span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"text"</span> <span>name</span>=<span>"username"</span> <span>placeholder</span>=<span>"Username"</span> <span>required</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Email<span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
        <span>&lt;<span>input</span> <span>class</span>=<span>"form-input"</span> <span>type</span>=<span>"email"</span> <span>name</span>=<span>"email"</span> <span>placeholder</span>=<span>"Email"</span> <span>required</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Birthdate<span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
        <span>&lt;<span>input</span> <span>class</span>=<span>"form-input datepicker-here js-date"</span> <span>type</span>=<span>"text"</span> <span>name</span>=<span>"birthdate"</span> <span>placeholder</span>=<span>"Birthdate"</span> <span>required</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>hobby<span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"form-check-group"</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"gender1"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"gender1"</span> <span>type</span>=<span>"radio"</span> <span>name</span>=<span>"gender"</span> <span>required</span>&gt;</span> Male<span>&lt;/<span>label</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"gender2"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"gender2"</span> <span>type</span>=<span>"radio"</span> <span>name</span>=<span>"gender"</span>&gt;</span> Female<span>&lt;/<span>label</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-24"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c form-label"</span> <span>data-col</span>=<span>"s12,m4,l4"</span>&gt;</span>Hobbies<span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span>&gt;</span>
        <span>&lt;<span>div</span> <span>class</span>=<span>"form-check-group form-input--block"</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"hobby1"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"hobby1"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"hobby"</span> <span>required</span>&gt;</span> Reading<span>&lt;/<span>label</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"hobby2"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"hobby2"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"hobby"</span>&gt;</span> Writing<span>&lt;/<span>label</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"hobby3"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"hobby3"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"hobby"</span>&gt;</span> Running<span>&lt;/<span>label</span>&gt;</span>
            <span>&lt;<span>label</span> <span>class</span>=<span>"form-check__item"</span> <span>for</span>=<span>"hobby4"</span> <span>data-invalid</span>=<span>"Custom Error Message"</span>&gt;</span><span>&lt;<span>input</span> <span>id</span>=<span>"hobby4"</span> <span>type</span>=<span>"checkbox"</span> <span>name</span>=<span>"hobby"</span>&gt;</span> Swimming<span>&lt;/<span>label</span>&gt;</span>
        <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;<span>div</span> <span>class</span>=<span>"bzg mb-12"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"bzg_c"</span> <span>data-col</span>=<span>"s12,m8,l8"</span> <span>data-offset</span>=<span>"m4,l4"</span>&gt;</span>
        <span>&lt;<span>button</span> <span>class</span>=<span>"btn btn--primary"</span> <span>type</span>=<span>"submit"</span>&gt;</span>Submit<span>&lt;/<span>button</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>form</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<!-- vuelidate -->

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
	data() {
		return {
			isSending: false,

			formValidation: {
				username: null,
				email: null,
				birthdate: null,
				gender: null,
				hobbies: []
			}
		}
	},
	methods: {
		handleGender(gender) {
			this.formValidation.gender = gender
		}
	},
	validations: {
		formValidation: {
			username: {
				required
			},
			email: {
				required,
				email
			},
			birthdate: {
				required
			},
			gender: {
				required
			},
			hobbies: {
				required
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.form-label {
	text-align: left;
	@media #{$medium} {
		text-align: right;
	}
}
</style>
