<template>
	<main>
		<div class="container">
			<!-- Heading -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Heading</h2>
				<h1>Heading 1</h1>
				<h2>Heading 2</h2>
				<h3>Heading 3</h3>
				<h4>Heading 4</h4>
				<h5>Heading 5</h5>
				<h6>Heading 6</h6>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>h1</span>&gt;</span>Heading 1<span>&lt;/<span>h1</span>&gt;</span>
<span>&lt;<span>h2</span>&gt;</span>Heading 2<span>&lt;/<span>h2</span>&gt;</span>
<span>&lt;<span>h3</span>&gt;</span>Heading 3<span>&lt;/<span>h3</span>&gt;</span>
<span>&lt;<span>h4</span>&gt;</span>Heading 4<span>&lt;/<span>h4</span>&gt;</span>
<span>&lt;<span>h5</span>&gt;</span>Heading 5<span>&lt;/<span>h5</span>&gt;</span>
<span>&lt;<span>h6</span>&gt;</span>Heading 6<span>&lt;/<span>h6</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Heading styles -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Heading Style</h2>
				<p class="h1">Text size adjust h1</p>
				<p class="h2">Text size adjust h2</p>
				<p class="h3">Text size adjust h3</p>
				<p class="h4">Text size adjust h4</p>
				<p class="h5">Text size adjust h5</p>
				<p class="h6">Text size adjust h6</p>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>p</span> <span>class</span>=<span>"h1"</span>&gt;</span>Text size adjust h1<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"h2"</span>&gt;</span>Text size adjust h2<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"h3"</span>&gt;</span>Text size adjust h3<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"h4"</span>&gt;</span>Text size adjust h4<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"h5"</span>&gt;</span>Text size adjust h5<span>&lt;/<span>p</span>&gt;</span>
<span>&lt;<span>p</span> <span>class</span>=<span>"h6"</span>&gt;</span>Text size adjust h6<span>&lt;/<span>p</span>&gt;</span></code></pre>
				</div>
				<hr />
			</div>
		</div>
	</main>
</template>
<script></script>

<style lang="scss" scoped></style>
