<template>
	<div class="index-page">
		<div class="index-header font-fira text-white h4 text-bold">
			<img src="../assets/img/baze-flat-icon.png" alt="" />
			Baze UI
		</div>
		<div class="index-content text-center font-fira">
			<img
				class="logo"
				srcset="../assets/img/site-logo.png"
				sizes="(max-width: 28em) 75px, 125px"
				src="../assets/img/site-logo.png"
				alt=""
			/>
			<p class="h3 mb-36 text-white">
				A minimal setup for your frontend environment
			</p>

			<div class="bzg">
				<div class="bzg_c mb-16" data-col="m5" data-offset="m1">
					<a class="btn--suitmedia text-caps btn--block" href="get-started"
						>get started</a
					>
				</div>
				<div class="bzg_c mb-16" data-col="m5">
					<a
						class="btn--ghost-white btn--block text-caps"
						href="https://github.com/suitmedia/suit-baze"
						target="blank"
						>download</a
					>
				</div>
			</div>
		</div>
		<div class="index-footer text-center text-white text-size14">
			<span class="mr-16">Version 2.20.0</span> |
			<span class="ml-16"
				>Powered by:
				<a
					class="link-white text-white"
					href="https://suitmedia.com/"
					target="blank"
					>Suitmedia.com</a
				></span
			>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'blanklayout',
	data() {
		return {}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.index-page {
	$white: #e8e8e8;
	$btn: #ff6700;

	position: relative;
	background-color: brand(sp);
	min-width: 100vw;
	min-height: 100vh;
	.text-bold {
		font-weight: 700;
	}
	.index-header {
		position: absolute;
		width: 100%;
		padding: 20px 50px;
		img {
			width: 35px;
		}
	}
	.index-content {
		position: absolute;
		top: 25%;
		left: 30%;
		right: 30%;

		img {
			width: 125px;
		}
		.logo {
			margin: 25px;
		}
		.btn--suitmedia {
			color: #fff;
			background: $btn;
			border-color: $btn;
			padding: 8px 24px 8px 24px;
		}
	}

	.index-footer {
		position: absolute;
		bottom: 0;
		padding: 20px 0;
		left: 30%;
		right: 30%;
		.text-size14 {
			font-size: 14px;
		}
	}
}
</style>
