<template>
	<div class="">
		<header class="header-bottom">
			<div class="mt-8 flex v-center f-space-between container">
				<img src="../assets/img/kemahaja.png" alt="" height="30" />
				<nav class="">
					<ul class="flex list-nostyle">
						<li class="">
							<a href="" class="ml-24 link-black">Tempat Camping</a>
						</li>
						<li class="">
							<a href="" class="ml-24 link-black">Aktivitas</a>
						</li>
						<li class="">
							<a href="" class="ml-24 link-black">Artikel</a>
						</li>
					</ul>
				</nav>
				<div class="flex">
					<img src="../assets/img/mitra.svg" width="20" alt="" />
					<span class="ml-8">Jadi Mitra KEMAHAJA</span>
				</div>
				<div class="flag flex v-center">
					<img src="../assets/img/flag.png" alt="" class="ml-2" width="20" />
					<span class="ml-2">ID</span>
					<i class="bzi-caret-down ml-2"></i>
				</div>
				<div class="flex v-center">
					<i class="mr-4 bzi-user user"></i>
					<span>Prayuda Riansyah</span>
					<i class="bzi-caret-down ml-4"></i>
				</div>
			</div>
			<div class="mt-24 container">
				<ul class="flex list-nostyle">
					<li class=" ">
						<a href="" class="link-dark-grey active">Info Umum</a>
					</li>
					<li class="ml-12">
						<a href="" class="link-dark-grey">Fasilitas</a>
					</li>
					<li class="ml-12"><a href="" class="link-dark-grey">Lokasi</a></li>
					<li class="ml-12">
						<a href="" class="link-dark-grey">Camp Ground</a>
					</li>
					<li class="ml-12"><a href="" class="link-dark-grey">Review</a></li>
				</ul>
			</div>
		</header>
		<div class="breadcrumb container mt-12">
			<li><a href="" class="link-dark-grey deactive">Camping Ground</a></li>
			<li><a href="" class="link-dark-grey deactive">Yogyakarta</a></li>
			<li><a href="" class="link-dark-grey b-active">Brotherhood Camp</a></li>
		</div>
		<div class="container">
			<section id="date" class="bzg flex mt-12 rounded">
				<div class="bzg_c" data-col="m3">
					<p class="text-grey">Tujuan</p>
					<div class="flex">
						<i class="bzi-lock"></i>
						<p class="ml-4">Yogyakarta</p>
					</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<p class="text-grey">Tanggal Check In</p>
					<div class="flex">
						<i class="bzi-date"></i>
						<p class="ml-4">13 Agustus 2023</p>
					</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<p class="text-grey">Tanggal Check In</p>
					<div class="flex">
						<i class="bzi-date"></i>
						<p class="ml-4">14 Agustus 2023</p>
					</div>
				</div>
				<div class="bzg_c" data-col="m3">
					<p class="text-grey">Pengunjung</p>
					<div class="flex">
						<i class="bzi-user"></i>
						<p class="ml-4">2 Dewasa, 1 Anak</p>
					</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<button class="btn--dark-green rounded">
						<strong>Cari Sekarang</strong>
					</button>
				</div>
			</section>
			<section id="main--head" class="bzg flex mt-24">
				<div class="bzg_c" data-col="m10">
					<h2>Brotherhood Camp</h2>
					<div class="flex">
						<div class="category flex rounded v-center">
							<img src="../assets/img/pantai.svg" width="20" alt="" />
							<span class="ml-4">Pantai</span>
						</div>
						<div class="flex v-center ml-8">
							<i class="bzi-reward"></i>
							<i class="bzi-reward"></i>
							<i class="bzi-reward"></i>
							<i class="bzi-reward"></i>
							<i class="bzi-reward"></i>
							<span class="ml-4">(180 Ulasan)</span>
						</div>
					</div>
					<div class="flex v-center mt-12">
						<img src="../assets/img/loc.svg" width="20" alt="" />
						<span class="ml-4">
							Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa
							Yogyakarta, Indonesia 55184
						</span>
					</div>
				</div>
				<div class="bzg_c" data-col="m2">
					<div class="bzg">
						<div class="bzg_c" data-col="m11" data-offset="m1">
							<p class="text-grey">per kavling, per malam</p>
							<div class="price flex">
								<p class="text-small"><strong>IDR</strong></p>
								<strong class="text-dark-green ml-4">9.500.000</strong>
							</div>
						</div>
					</div>
					<div class="bzg">
						<button class="btn--dark-green rounded">
							<strong>Pilih Camping Ground</strong>
						</button>
					</div>
				</div>
			</section>
			<section id="images">
				<div class="bzg mt-12">
					<div class="bzg_c" data-col="m6">
						<img src="../assets/img/kemah1.png" alt="" />
					</div>
					<div class="bzg_c" data-col="m6">
						<div class="bzg">
							<div class="bzg_c" data-col="m6">
								<img src="../assets/img/kemah2.png" alt="" />
							</div>
							<div class="bzg_c" data-col="m6">
								<img src="../assets/img/kemah3.png" alt="" />
							</div>
							<div class="bzg_c mt-20" data-col="m6">
								<img src="../assets/img/kemah4.png" alt="" />
							</div>
							<div class="bzg_c mt-20" data-col="m6">
								<img src="../assets/img/kemah5.png" alt="" />
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="main--content">
				<div class="bzg mt-24">
					<div class="bzg_c description" data-col="m5">
						<div class="title flex f-space-between v-center">
							<h3>Tentang Destinasi</h3>
							<p class="text-right">
								Selengkapnya <i class="bzi-arrow_forward"></i>
							</p>
						</div>
						<p>
							Saksikan matahari terbit dan terbenam di balik pegunungan, melihat
							hamparan bunga edelweis yang menakjubkan, dan mendengarkan alunan
							riak air yang jernih dari sungai yang mengalir hanya 30 menit dari
						</p>
					</div>
					<div class="bzg_c facilities" data-col="m6" data-offset="m1">
						<h3>Fasilitas</h3>
						<div class="bzg">
							<div class="category bzg_c rounded flex ml-8" data-col="m2">
								<img src="../assets/img/pantai.svg" width="20" alt="" />
								<span class="ml-8">Toilet</span>
							</div>
							<div class="category bzg_c rounded flex ml-8" data-col="m2">
								<img src="../assets/img/pantai.svg" width="20" alt="" />
								<span class="ml-8">Wifi</span>
							</div>
							<div class="category bzg_c rounded flex ml-8" data-col="m3">
								<img src="../assets/img/pantai.svg" width="20" alt="" />
								<span class="ml-8">Tempat Parkir</span>
							</div>
							<div class="category bzg_c rounded flex ml-8" data-col="m2">
								<img src="../assets/img/pantai.svg" width="20" alt="" />
								<span class="ml-8">Musholla</span>
							</div>
							<div class="category bzg_c rounded flex ml-8 mt-12" data-col="m4">
								<img src="../assets/img/pantai.svg" width="20" alt="" />
								<span class="ml-8">Area Bermasak</span>
							</div>
							<div class="category bzg_c rounded flex ml-8 mt-12" data-col="m4">
								<img src="../assets/img/pantai.svg" width="20" alt="" />
								<span class="ml-8">Area Bermain</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="detail--content" class="mt-12">
				<h2>Informasi Lokasi</h2>
				<div class="bzg">
					<div class="bzg_c" data-col="m5">
						<img src="../assets/img/maps.png" alt="" />
					</div>
					<div class="bzg_c" data-col="m7">
						<div class="title--location flex v-center">
							<img src="../assets/img/loc.svg" width="20" alt="" />
							<span class="ml-12">
								Jl. Ambarbinangun No.5C, Kabupaten Bantul, Daerah Istimewa
								Yogyakarta, Indonesia 55184
							</span>
						</div>
						<div class="desc--location">
							<p class="text-grey">
								Setelah memarkir kendaraan anda akan berjalan kaki sejauh 1km
								dari tempat parkir ke Camping Ground. Selama perjalanan akan ada
								seseorang yang berjaga di area trek destinasi.
							</p>
						</div>
						<div class="access--location">
							<h4>Akses Masuk Kendaraan</h4>
							<div class="flex bzg ml-2">
								<div
									class="category bzg_c ml-8 mt-8 rounded flex"
									data-col="m3"
								>
									<img src="../assets/img/car.svg" width="20" alt="" />
									<span class="ml-4">Sepeda Motor</span>
								</div>
								<div
									class="category bzg_c ml-8 mt-8 rounded flex"
									data-col="m3"
								>
									<img src="../assets/img/car.svg" width="20" alt="" />
									<span class="ml-4">Mobil Pribadi</span>
								</div>
								<div
									class="category bzg_c ml-8 mt-8 rounded flex"
									data-col="m2"
								>
									<img src="../assets/img/car.svg" width="20" alt="" />
									<span class="ml-4">Minibus</span>
								</div>
								<div
									class="category bzg_c ml-8 mt-8 rounded flex"
									data-col="m2"
								>
									<img src="../assets/img/car.svg" width="20" alt="" />
									<span class="ml-4">Bus</span>
								</div>
							</div>
						</div>
						<div class="qna--location flex mt-12">
							<p>Memiliki pertanyaan lebih lanjut?</p>
							<a href="" class="link-black">
								<i class="bzi-phone ml-8"></i>
								<span>Chat Owner Sekarang!</span>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section id="package--content" class="mt-48">
				<div class="bzg mt-24 rounded">
					<div class="bzg_c package--image" data-col="m5">
						<img src="../assets/img/kemah3.png" width="500" alt="" />
						<h3 class="h3">Paket Standar</h3>
					</div>
					<div class="bzg_c package--desc" data-col="m6" data-offset="m1">
						<div class="">
							<h5>1 Kavling Camp Ground dengan berbagai fasilitas umum</h5>
							<div class="flex f-space-between mb-12">
								<div class="">
									<img src="../assets/img/camp.svg" width="20px" alt="" />
									<span class="text-grey">1 - 2 Orang</span>
								</div>
								<div class="">
									<span class="text-dark-green text-small"
										>Tersisa 8 Kaving lagi</span
									>
								</div>
							</div>
							<hr />
							<div class="flex f-space-between">
								<div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Tenda</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Api Unggun</span>
									</div>
								</div>
								<div>
									<div class="flex">
										<img
											src="../assets/img/pantai.svg"
											class="deactive"
											width="20"
											alt=""
										/>
										<span class="ml-8 deactive">Tidak Bisa Refund</span>
									</div>
									<div class="flex">
										<img
											src="../assets/img/pantai.svg"
											class="deactive"
											width="20"
											alt=""
										/>
										<span class="ml-8 deactive">Tidak Bisa Reschedule</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Baca Kebijakan Pembatalan</span>
									</div>
								</div>
								<div class="package--end">
									<p class="text-grey">per kavling, per malam</p>
									<div class="price flex">
										<p class="text-small text-red">
											<strike>IDR 4.500.000</strike>
										</p>
									</div>
									<div class="price flex">
										<p class="text-small"><strong>IDR</strong></p>
										<strong class="text-dark-green ml-4">2.500.000</strong>
									</div>
									<div>
										<button class="btn--dark-green rounded">
											<strong>Pesan</strong>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bzg mt-24 rounded">
					<div class="bzg_c package--image" data-col="m5">
						<img src="../assets/img/kemah3.png" width="500" alt="" />
						<h3 class="h3">Paket Deluxe</h3>
					</div>
					<div class="bzg_c package--desc" data-col="m6" data-offset="m1">
						<div class="">
							<h5>1 Kavling Camp Ground dengan berbagai fasilitas lengkap</h5>
							<div class="flex f-space-between mb-12">
								<div class="">
									<img src="../assets/img/camp.svg" width="20px" alt="" />
									<span class="text-grey">6 - 12 Orang</span>
								</div>
								<div class="">
									<span class="text-red text-small">Tersisa 1 Kaving lagi</span>
								</div>
							</div>
							<hr />
							<div class="flex f-space-between">
								<div class="">
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Tenda</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Api Unggun</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Kasur & Bantal</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Alat BBQ</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Kursi Meja</span>
									</div>
								</div>
								<div>
									<div class="flex">
										<img
											src="../assets/img/pantai.svg"
											class="deactive"
											width="20"
											alt=""
										/>
										<span class="ml-8 deactive">Tidak Bisa Refund</span>
									</div>
									<div class="flex">
										<img
											src="../assets/img/pantai.svg"
											class="deactive"
											width="20"
											alt=""
										/>
										<span class="ml-8 deactive">Tidak Bisa Reschedule</span>
									</div>
									<div class="flex">
										<img src="../assets/img/pantai.svg" width="20" alt="" />
										<span class="ml-8">Baca Kebijakan Pembatalan</span>
									</div>
								</div>
								<div class="package--end">
									<p class="text-grey">per kavling, per malam</p>
									<div class="price flex">
										<p class="text-small text-red">
											<strike>IDR 12.000.000</strike>
										</p>
									</div>
									<div class="price flex">
										<p class="text-small"><strong>IDR</strong></p>
										<strong class="text-dark-green ml-4">9.500.000</strong>
									</div>
									<div>
										<button class="btn--dark-green rounded">
											<strong>Pesan</strong>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div id="comment" class="mt-48 bzg">
				<aside class="bzg_c" data-col="m5">
					<div class="text-center"><h2>Ulasan Pengunjung</h2></div>
					<div class="rate text-center">
						<i class="bzi-reward bzi-2x"></i>
						<span class="h2 ml-8 text-grey"><strong>4.7</strong>/5.0</span>
						<p class="text-dark-green">
							<strong>Rating berdasar 1200 pengunjung</strong>
						</p>
					</div>
					<div class="">
						<div class="">
							<i class="bzi-reward">5</i>
							<div class="progress-bar bar"></div>
						</div>
					</div>
				</aside>
				<main class="bzg_c" data-col="m7">
					<article class="comment">
						<p>Kemarin (24 Agustus 2023)</p>
						<div class="flex">
							<i class="comment-user"></i>
							<p>Yuda</p>
						</div>
						<div class="flex">
							<p class="">
								<strong>Rating:</strong> <i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i>
							</p>

							<p class="ml-12">
								<strong>Camper:</strong>
								<span class="text-dark-green">Family Camper</span>
							</p>
							<p class="ml-12">
								<strong>Paket:</strong>
								<span class="text-dark-green"> Deluxe</span>
							</p>
						</div>
						<p>
							Tempatnya sangat indah dan damai. Berkemah di sini sangat
							menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
							yang tenang.
						</p>
					</article>
					<article class="comment mt-24">
						<p>Kemarin (24 Agustus 2023)</p>
						<div class="flex">
							<i class="comment-user"></i>
							<p>Yuda</p>
						</div>
						<div class="flex">
							<p class="">
								<strong>Rating:</strong> <i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i>
							</p>

							<p class="ml-12">
								<strong>Camper:</strong>
								<span class="text-dark-green">Family Camper</span>
							</p>
							<p class="ml-12">
								<strong>Paket:</strong>
								<span class="text-dark-green"> Deluxe</span>
							</p>
						</div>
						<p>
							Tempatnya sangat indah dan damai. Berkemah di sini sangat
							menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
							yang tenang.
						</p>
						<div class="flex">
							<img src="../assets/img/kemah4.png" width="100" alt="" />
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
						</div>
					</article>
					<article class="comment">
						<p>Kemarin (24 Agustus 2023)</p>
						<div class="flex">
							<i class="comment-user"></i>
							<p>Yuda</p>
						</div>
						<div class="flex">
							<p class="">
								<strong>Rating:</strong> <i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i>
							</p>

							<p class="ml-12">
								<strong>Camper:</strong>
								<span class="text-dark-green">Family Camper</span>
							</p>
							<p class="ml-12">
								<strong>Paket:</strong>
								<span class="text-dark-green"> Deluxe</span>
							</p>
						</div>
						<p>
							Tempatnya sangat indah dan damai. Berkemah di sini sangat
							menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
							yang tenang.
						</p>
					</article>
					<article class="comment mt-24">
						<p>Kemarin (24 Agustus 2023)</p>
						<div class="flex">
							<i class="comment-user"></i>
							<p>Yuda</p>
						</div>
						<div class="flex">
							<p class="">
								<strong>Rating:</strong> <i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i>
							</p>

							<p class="ml-12">
								<strong>Camper:</strong>
								<span class="text-dark-green">Family Camper</span>
							</p>
							<p class="ml-12">
								<strong>Paket:</strong>
								<span class="text-dark-green"> Deluxe</span>
							</p>
						</div>
						<p>
							Tempatnya sangat indah dan damai. Berkemah di sini sangat
							menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
							yang tenang.
						</p>
						<div class="flex">
							<img src="../assets/img/kemah4.png" width="100" alt="" />
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
							<img
								src="../assets/img/kemah4.png"
								class="ml-12"
								width="100"
								alt=""
							/>
						</div>
					</article>
					<article class="comment">
						<p>Kemarin (24 Agustus 2023)</p>
						<div class="flex">
							<i class="comment-user"></i>
							<p>Yuda</p>
						</div>
						<div class="flex">
							<p class="">
								<strong>Rating:</strong> <i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i
								><i class="bzi-reward"></i><i class="bzi-reward"></i>
							</p>

							<p class="ml-12">
								<strong>Camper:</strong>
								<span class="text-dark-green">Family Camper</span>
							</p>
							<p class="ml-12">
								<strong>Paket:</strong>
								<span class="text-dark-green"> Deluxe</span>
							</p>
						</div>
						<p>
							Tempatnya sangat indah dan damai. Berkemah di sini sangat
							menyenangkan, dengan pemandangan alam yang spektakuler dan suasana
							yang tenang.
						</p>
					</article>
				</main>
			</div>
		</div>
		<footer class="container mt-48">
			<div class="flex f-space-between">
				<div>
					<img src="../assets/img/kemahaja.png" width="150" alt="" />
					<p class="text-grey">Ikuti Kami di Sosial Media:</p>
					<div class="flex">
						<i class="bzi-1_5x bzi-instagram ml-12"></i>
						<i class="bzi-1_5x bzi-youtube ml-12"></i>
						<i class="bzi-1_5x bzi-instagram ml-12"></i>
						<i class="bzi-1_5x bzi-youtube ml-12"></i>
					</div>
				</div>
				<div>
					<p>Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510</p>
					<p>+62822-4692-6620</p>
					<p>Kemahaja@gmail.com</p>
				</div>
				<div class="footer--end">
					<p class="text-grey">Dapatkan update berita terbaru</p>
					<form action="">
						<div class="form-group--label-input">
							<input
								class="form-input form-input--block"
								placeholder="Masukkan alamat E-mail"
							/>
							<label class="label"><button>Kirim</button></label>
						</div>
					</form>
					<p>Copyright &copy; KemahAja 2023</p>
				</div>
			</div>
		</footer>
	</div>
</template>

<script>
export default {
	layout: 'kemahlayout',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.header {
	display: flex;
}

.user {
	padding: 5px 10px;
	border-radius: 50%;
	background-color: #d9d9d9;
}

.comment-user {
	padding: 5px 20px;
	border-radius: 50%;
	background-color: #d9d9d9;
}

.package--end,
.price {
	text-align: end;
	justify-content: end;
}
.header-bottom {
	box-shadow: 0px 4px 8px 0px #0000000a;
	padding-bottom: 10px;
}
.active {
	border-bottom: 2px solid #000;
}
.b-active {
	color: #000;
}
.text-grey {
	color: #6e6e6e;
}
.deactive {
	color: #868686;
}
#detail--content,
.comment {
	box-shadow: 0px 4px 8px 0px #0000000a;
	padding: 12px 24px;
	border-radius: 8px;
}

#date,
.facilities,
.package--image,
.package--desc,
.description {
	box-shadow: 0px 4px 6px 0px #0000000a;
	border-radius: 8px;
	padding: 12px 24px;
}
.link-dark-grey {
	padding-bottom: 10px;
}

// main

.category {
	background-color: #cef3e9;
	padding: 8px 10px;
	span {
		color: #0f5a46;
	}
}

// form
.form-group--label-input {
	border: 2px solid #0f5a46;

	label {
		background-color: #0f5a46;
	}
	button {
		background-color: transparent;
		color: #fff;
		border: none;
		cursor: pointer;
	}

	.form-input {
		border: transparent;
	}
}
</style>
