<template>
	<main>
		<div class="container">
			<!-- Lists -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Lists</h2>
				<div class="ml-24">
					<h5>Ordered List</h5>
					<ol>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ol type="a">
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ol>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ol>

					<div class="text-size14">
						<pre><code class="html hljs xml"><span>&lt;<span>ol</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>id facere,
        <span>&lt;<span>ol</span> <span>type</span>=<span>"a"</span>&gt;</span>
            <span>&lt;<span>li</span>&gt;</span>molestiae in,<span>&lt;/<span>li</span>&gt;</span>
            <span>&lt;<span>li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span>&lt;/<span>li</span>&gt;</span>
        <span>&lt;/<span>ol</span>&gt;</span>
    <span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>dignissimos sequi illum doloremque.<span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ol</span>&gt;</span></code></pre>
					</div>

					<h5>Unordered List</h5>
					<ul>
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>id facere,</li>
						<ul>
							<li>molestiae in,</li>
							<li>ducimus necessitatibus hic ad esse consequuntur</li>
						</ul>
						<li>dignissimos sequi illum doloremque.</li>
					</ul>

					<div class="text-size14">
						<pre><code class="html hljs xml"><span>&lt;<span>ul</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>id facere,
        <span>&lt;<span>ul</span>&gt;</span>
            <span>&lt;<span>li</span>&gt;</span>molestiae in,<span>&lt;/<span>li</span>&gt;</span>
            <span>&lt;<span>li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span>&lt;/<span>li</span>&gt;</span>
        <span>&lt;/<span>ul</span>&gt;</span>
    <span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>dignissimos sequi illum doloremque.<span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ul</span>&gt;</span></code></pre>
					</div>

					<h5>Inline List</h5>
					<ol class="list-inline">
						<li>Lorem &gt;</li>
						<li>Ipsum &gt;</li>
						<li>Dolor</li>
					</ol>

					<div class="text-size14">
						<pre><code class="html hljs xml"><span>&lt;<span>ol</span> <span>class</span>=<span>"list-inline"</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Lorem &gt; <span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Ipsum &gt; <span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Dolor<span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ol</span>&gt;</span></code></pre>
					</div>

					<h5>No Style List</h5>
					<ul class="list-nostyle">
						<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
						<li>
							Incidunt magni consequatur adipisci officiis vero placeat
							consectetur
						</li>
						<li>
							id facere,
							<ul>
								<li>molestiae in,</li>
								<li>ducimus necessitatibus hic ad esse consequuntur</li>
							</ul>
						</li>
						<li>dignissimos sequi illum doloremque.</li>
					</ul>

					<div class="text-size14">
						<pre><code class="html hljs xml"><span>&lt;<span>ul</span> <span>class</span>=<span>"list-nostyle"</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>Incidunt magni consequatur adipisci officiis vero placeat consectetur<span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>id facere,
        <span>&lt;<span>ul</span>&gt;</span>
            <span>&lt;<span>li</span>&gt;</span>molestiae in,<span>&lt;/<span>li</span>&gt;</span>
            <span>&lt;<span>li</span>&gt;</span>ducimus necessitatibus hic ad esse consequuntur<span>&lt;/<span>li</span>&gt;</span>
        <span>&lt;/<span>ul</span>&gt;</span>
    <span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span>dignissimos sequi illum doloremque.<span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ul</span>&gt;</span></code></pre>
					</div>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>
