<template>
	<main>
		<div class="container">
			<!-- Media Objects -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Media Objects</h2>
				<figure class="media">
					<div class="media-figure">
						<img src="../assets/img/site-logo.png" alt="" width="64px" />
					</div>
					<div class="media-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
						incidunt tempora ratione sapiente, nesciunt consectetur officiis
						commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
						rerum, reprehenderit modi. Fugiat?
					</div>
				</figure>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>figure</span> <span>class</span>=<span>"media"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"media-figure"</span>&gt;</span>
        <span>&lt;<span>img</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"media-content"</span>&gt;</span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam incidunt tempora ratione sapiente,
        nesciunt consectetur officiis commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum, reprehenderit modi. Fugiat?
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>figure</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- With title, button and link -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">With Title, Button, and Link</h2>
				<figure class="media">
					<div class="media-figure">
						<img src="../assets/img/site-logo.png" alt="" width="150px" />
					</div>
					<div class="media-content">
						<h4 class="media-title text-primary">Title</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
							reprehenderit in voluptate velit esse cillum dolore eu fugiat
							nulla pariatur. Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class="mb-0">
							<button class="btn--primary btn--small btn--icon mr-8">
								<i class="bzi-fax"></i>
							</button>
							<a href="#">Visit somewhere...</a>
						</p>
					</div>
				</figure>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>figure</span> <span>class</span>=<span>"media"</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"media-figure"</span>&gt;</span>
        <span>&lt;<span>img</span> <span>src</span>=<span>"..."</span> <span>alt</span>=<span>""</span> <span>width</span>=<span>"150px"</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
    <span>&lt;<span>div</span> <span>class</span>=<span>"media-content"</span>&gt;</span>
        <span>&lt;<span>h4</span> <span>class</span>=<span>"media-title text-primary"</span>&gt;</span>Title<span>&lt;/<span>h4</span>&gt;</span>
        <span>&lt;<span>p</span>&gt;</span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        <span>&lt;/<span>p</span>&gt;</span>
        <span>&lt;<span>p</span> <span>class</span>=<span>"mb-0"</span>&gt;</span>
            <span>&lt;<span>button</span> <span>class</span>=<span>"btn--primary btn--small btn--icon mr-8"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-thumbs-up"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>button</span>&gt;</span>
            <span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>Visit somewhere...<span>&lt;/<span>a</span>&gt;</span>
        <span>&lt;/<span>p</span>&gt;</span>
    <span>&lt;/<span>div</span>&gt;</span>
<span>&lt;/<span>figure</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>
