<template>
	<main>
		<div class="container">
			<!-- Pagination -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Pagination</h2>
				<ol class="pagination">
					<li>
						<a href="#"><i class="bzi-arrow_forward left"></i></a>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 1 }"
							href="#"
							@click="setCurrentPage(1)"
							>1</a
						>
					</li>
					<li>
						<a :class="{ 'is-active': currentPage === 2 }" href="#" disabled
							>2</a
						>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 3 }"
							href="#"
							@click="setCurrentPage(3)"
							>3</a
						>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 4 }"
							href="#"
							@click="setCurrentPage(4)"
							>4</a
						>
					</li>
					<li>
						<a href="#"><i class="bzi-arrow_forward"></i></a>
					</li>
				</ol>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>ol</span> <span>class</span>=<span>"pagination"</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-angle-left"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>class</span>=<span>"is-active"</span> <span>href</span>=<span>"#"</span>&gt;</span>1<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span> <span>disabled</span>&gt;</span>2<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>3<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>4<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-angle-right"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ol</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Left Pagination -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Left Pagination</h2>
				<ol class="pagination--left">
					<li>
						<a href="#"><i class="bzi-arrow_forward left"></i></a>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 1 }"
							href="#"
							@click="setCurrentPage(1)"
							>1</a
						>
					</li>
					<li>
						<a :class="{ 'is-active': currentPage === 2 }" href="#" disabled
							>2</a
						>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 3 }"
							href="#"
							@click="setCurrentPage(3)"
							>3</a
						>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 4 }"
							href="#"
							@click="setCurrentPage(4)"
							>4</a
						>
					</li>
					<li>
						<a href="#"><i class="bzi-arrow_forward"></i></a>
					</li>
				</ol>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>ol</span> <span>class</span>=<span>"pagination--left"</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-angle-left"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>1<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>2<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>3<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>4<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-angle-right"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ol</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Right Pagination -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Right Pagination</h2>
				<ol class="pagination--right">
					<li>
						<a href="#"><i class="bzi-arrow_forward left"></i></a>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 1 }"
							href="#"
							@click="setCurrentPage(1)"
							>1</a
						>
					</li>
					<li>
						<a :class="{ 'is-active': currentPage === 2 }" href="#" disabled
							>2</a
						>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 3 }"
							href="#"
							@click="setCurrentPage(3)"
							>3</a
						>
					</li>
					<li>
						<a
							:class="{ 'is-active': currentPage === 4 }"
							href="#"
							@click="setCurrentPage(4)"
							>4</a
						>
					</li>
					<li>
						<a href="#"><i class="bzi-arrow_forward"></i></a>
					</li>
				</ol>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>ol</span> <span>class</span>=<span>"pagination--right"</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-angle-left"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>1<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>2<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>3<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span>4<span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
    <span>&lt;<span>li</span>&gt;</span><span>&lt;<span>a</span> <span>href</span>=<span>"#"</span>&gt;</span><span>&lt;<span>i</span> <span>class</span>=<span>"fas fa-angle-right"</span>&gt;</span><span>&lt;/<span>i</span>&gt;</span><span>&lt;/<span>a</span>&gt;</span><span>&lt;/<span>li</span>&gt;</span>
<span>&lt;/<span>ol</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			currentPage: 1
		}
	},
	methods: {
		setCurrentPage(pageNumber) {
			this.currentPage = pageNumber
		}
	}
}
</script>

<style lang="scss" scope>
.left {
	rotate: (180deg);
}
</style>
