<template>
	<main>
		<div class="container">
			<!-- Responsive Image (Resolution Switch) -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">
					Responsive Image (Resolution Switch)
				</h2>
				<img
					src="../assets/img/koala-100x100.jpg"
					srcset="
						../assets/img/koala-100x100.jpg    100w,
						../assets/img/koala-500x500.jpg    500w,
						../assets/img/koala-1010x1010.jpg 1010w
					"
					sizes="(max-width: 28em) 100px,
                                        (max-width: 75em) 500px,
                                        1010px"
					alt="Koala Doll"
				/>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>img</span> <span>srcset</span>=<span>"../assets/img/koala-100x100.jpg 100w,
             assets/img/koala-500x500.jpg 500w,
             assets/img/koala-1010x1010.jpg 1010w"</span>
     <span>sizes</span>=<span>"(max-width: 28em) 100px,
            (max-width: 75em) 500px,
            1010px"</span>
     <span>src</span>=<span>"assets/img/koala-100x100.jpg"</span> <span>alt</span>=<span>"Koala Doll"</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Responsive Image (Picture tag) -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Responsive Image (Picture tag)</h2>
				<picture>
					<source
						media="(min-width: 64em)"
						srcset="../assets/img/koala-1200x754.jpg"
					/>
					<source
						media="(min-width: 28em)"
						srcset="../assets/img/koala-600x377.jpg"
					/>
					<img
						src="../assets/img/koala-290x290.jpg"
						alt="Mother and baby koala"
					/>
				</picture>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>picture</span>&gt;</span>
    <span>&lt;<span>source</span> <span>media</span>=<span>"(min-width: 64em)"</span> <span>srcset</span>=<span>"assets/img/koala-1200x754.jpg"</span>&gt;</span>
    <span>&lt;<span>source</span> <span>media</span>=<span>"(min-width: 28em)"</span> <span>srcset</span>=<span>"assets/img/koala-600x377.jpg"</span>&gt;</span>
    <span>&lt;<span>img</span> <span>src</span>=<span>"assets/img/koala-290x290.jpg"</span> <span>alt</span>=<span>"Mother and baby koala"</span>&gt;</span>
<span>&lt;/<span>picture</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Lazy Loading -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Lazy Loading</h2>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>
				<img
					class="mb-4"
					src="http://lorempixel.com/80/100"
					data-src="http://lorempixel.com/80/100"
					width="80"
					height="100"
					loading="lazy"
				/>

				<div class="text-size14">
					<pre><code class="html hljs"><span>&lt;<span>img</span> <span>class</span>=<span>" mb-4"</span>
     <span>src</span>=<span>"data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs="</span>
     <span>data-src</span>=<span>"http://lorempixel.com/80/100"</span>
     <span>width</span>=<span>"80"</span> <span>height</span>=<span>"100"</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script></script>

<style lang="scss" scoped></style>
