<template>
	<main>
		<div class="container">
			<!-- Slick Single Item  -->
			<SingleCarousel />
			<!-- Slick Multiple Items -->
			<MultipleCarousel />

			<!-- Slick Data Attribute -->
			<AttributeCarousel />

			<!-- Slick Responsive  -->
			<ResponsiveCarousel />

			<!-- Width  -->
			<WidthCarousel />

			<!-- Height  -->
			<HeightCarousel />

			<!-- Autoplay  -->
			<AutoplayCarousel />

			<!-- Syncronize  -->
			<SyncronizeCarousel />

			<hr role="separator" />
		</div>
	</main>
</template>

<script>
import SingleCarousel from '~/components/carousel/singleCarousel.vue'
import MultipleCarousel from '~/components/carousel/multipleCarousel.vue'
import AttributeCarousel from '~/components/carousel/attributeCarousel.vue'
import ResponsiveCarousel from '~/components/carousel/responsiveCarousel.vue'
import WidthCarousel from '~/components/carousel/widthCarousel.vue'
import HeightCarousel from '~/components/carousel/heightCarousel.vue'
import AutoplayCarousel from '~/components/carousel/autoplayCarousel.vue'
import SyncronizeCarousel from '~/components/carousel/syncronizeCarousel.vue'

export default {
	components: {
		SingleCarousel,
		MultipleCarousel,
		AttributeCarousel,
		ResponsiveCarousel,
		WidthCarousel,
		HeightCarousel,
		AutoplayCarousel,
		SyncronizeCarousel
	},
	data() {
		return {}
	},
	methods: {}
}
</script>

<style lang="scss">
.slick-prev:before,
.slick-next:before {
	color: black;
}
</style>
