<template>
	<main>
		<div class="container">
			<!-- Table -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Table</h2>
				<div class="table-wrapper">
					<table class="table">
						<thead>
							<tr>
								<th>Header 1</th>
								<th>Header 2</th>
								<th>Header 3</th>
								<th>Header 4</th>
								<th>Header 5</th>
								<th>Header 6</th>
								<th>Header 7</th>
								<th>Header 8</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Row 2 Col 1</td>
								<td>Row 2 Col 2</td>
								<td>Row 2 Col 3</td>
								<td>Row 2 Col 4</td>
								<td>Row 2 Col 5</td>
								<td>Row 2 Col 6</td>
								<td>Row 2 Col 7</td>
								<td>Row 2 Col 8</td>
							</tr>
							<tr>
								<td>Row 3 Col 1</td>
								<td>Row 3 Col 2</td>
								<td>Row 3 Col 3</td>
								<td>Row 3 Col 4</td>
								<td>Row 3 Col 5</td>
								<td>Row 3 Col 6</td>
								<td>Row 3 Col 7</td>
								<td>Row 3 Col 8</td>
							</tr>
							<tr>
								<td>Change</td>
								<td>Window</td>
								<td>size</td>
								<td>to see</td>
								<td>Table</td>
								<td>Wrapper</td>
								<td>in</td>
								<td>action!</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span>&lt;<span>div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table-wrapper"</span>&gt;</span>
    <span>&lt;<span>table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"table"</span>&gt;</span>
        <span>&lt;<span>thead</span>&gt;</span>
            <span>&lt;<span>tr</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 1<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 2<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 3<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 4<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 5<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 6<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 7<span>&lt;/<span>th</span>&gt;</span>
                <span>&lt;<span>th</span>&gt;</span>Header 8<span>&lt;/<span>th</span>&gt;</span>
            <span>&lt;/<span>tr</span>&gt;</span>
        <span>&lt;/<span>thead</span>&gt;</span>
        <span>&lt;<span>tbody</span>&gt;</span>
            <span>&lt;<span>tr</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 1<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 2<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 3<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 4<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 5<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 6<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 7<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 2 Col 8<span>&lt;/<span>td</span>&gt;</span>
            <span>&lt;/<span>tr</span>&gt;</span>
            <span>&lt;<span>tr</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 1<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 2<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 3<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 4<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 5<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 6<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 7<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Row 3 Col 8<span>&lt;/<span>td</span>&gt;</span>
            <span>&lt;/<span>tr</span>&gt;</span>
            <span>&lt;<span>tr</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Change<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Window<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>size<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>to see<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Table<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>Wrapper<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>in<span>&lt;/<span>td</span>&gt;</span>
                <span>&lt;<span>td</span>&gt;</span>action!<span>&lt;/<span>td</span>&gt;</span>
            <span>&lt;/<span>tr</span>&gt;</span>
        <span>&lt;/<span>tbody</span>&gt;</span>
    <span>&lt;/<span>table</span>&gt;</span>
<span>&lt;/<span>div</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />

			<!-- Data Table -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Data Table</h2>
				<div
					id="DataTables_Table_0_wrapper"
					class="dataTables_wrapper no-footer"
				>
					<div id="DataTables_Table_0_length" class="dataTables_length">
						<label
							>Show
							<select
								name="DataTables_Table_0_length"
								aria-controls="DataTables_Table_0"
								class="form-input mb-8"
							>
								<option value="10">10</option>
								<option value="25">25</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							entries</label
						>
					</div>
					<div id="DataTables_Table_0_filter" class="dataTables_filter">
						<label
							>Search:<input
								type="search"
								class="form-input mb-8"
								placeholder=""
								aria-controls="DataTables_Table_0"
						/></label>
					</div>
					<!-- <div
									id="DataTables_Table_0_processing"
									class="dataTables_processing"
								>
									Processing...
								</div> -->
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>First Name</th>
								<th>Last Name</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(user, index) in users" :key="index">
								<td>{{ user.id }}</td>
								<td>{{ user.first_name }}</td>
								<td>{{ user.last_name }}</td>
							</tr>
						</tbody>
					</table>
					<div
						id="DataTables_Table_0_info"
						class="dataTables_info"
						role="status"
						aria-live="polite"
					>
						Showing 0 to 0 of 0 entries (filtered from NaN total entries)
					</div>
					<ol class="pagination--right">
						<li>
							<a href="#"><i class="bzi-arrow_forward left"></i></a>
						</li>
						<li>
							<a
								:class="{ 'is-active': currentPage === 1 }"
								href="#"
								@click="setCurrentPage(1)"
								>1</a
							>
						</li>
						<li>
							<a :class="{ 'is-active': currentPage === 2 }" href="#" disabled
								>2</a
							>
						</li>
						<li>
							<a
								:class="{ 'is-active': currentPage === 3 }"
								href="#"
								@click="setCurrentPage(3)"
								>3</a
							>
						</li>
						<li>
							<a
								:class="{ 'is-active': currentPage === 4 }"
								href="#"
								@click="setCurrentPage(4)"
								>4</a
							>
						</li>
						<li>
							<a href="#"><i class="bzi-arrow_forward"></i></a>
						</li>
					</ol>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs "><span>&lt;<span>table</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"js-datatable mb-4"</span> <span class="hljs-attr">data-table</span>=<span class="hljs-string">"https://reqres.in/api/users?page=1&amp;per_page=12"</span>&gt;</span>
    <span>&lt;<span>thead</span>&gt;</span>
        <span>&lt;<span>tr</span>&gt;</span>
            <span>&lt;<span>th</span>&gt;</span>ID<span>&lt;/<span>th</span>&gt;</span>
            <span>&lt;<span>th</span>&gt;</span>First Name<span>&lt;/<span>th</span>&gt;</span>
            <span>&lt;<span>th</span>&gt;</span>Last Name<span>&lt;/<span>th</span>&gt;</span>
        <span>&lt;/<span>tr</span>&gt;</span>
    <span>&lt;/<span>thead</span>&gt;</span>
<span>&lt;/<span>table</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			users: [],
			currentPage: 1
		}
	},
	created() {
		this.fetchData()
	},
	methods: {
		async fetchData() {
			try {
				const response = await fetch(
					'https://reqres.in/api/users?page=1&per_page=12'
				)
				const data = await response.json()
				this.users = data.data
			} catch (error) {
				Window.console.log('has error : ', error)
			}
		},
		setCurrentPage(pageNumber) {
			this.currentPage = pageNumber
		}
	}
}
</script>

<style lang="scss" scoped>
.left {
	rotate: (180deg);
}
</style>
