<template>
	<main>
		<div class="container">
			<!-- Tabs -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Tabs</h2>
				<div>
					<ul class="tabs__bar">
						<li
							v-for="(tab, index) in tabs"
							:key="index"
							:class="{
								tabs__nav: true,
								'js-tabs-link': true,
								'is-active': activeTab === tab.id
							}"
							@click="changeTab(tab.id)"
						>
							{{ tab.label }}
						</li>
					</ul>
					<div class="tabs__content">
						<div
							v-for="(tab, index) in tabs"
							:id="tab.id"
							:key="index"
							:class="{
								tabs__item: true,
								'js-tabs-item': true,
								'is-active': activeTab === tab.id
							}"
						>
							{{ tab.content }}
						</div>
					</div>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar js-tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item1"</span>&gt;</span>TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item2"</span>&gt;</span>TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item3"</span>&gt;</span>TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#item4"</span>&gt;</span>TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item1"</span>&gt;</span>
        Item 1
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item2"</span>&gt;</span>
        Item 2
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item3"</span>&gt;</span>
        Item 3
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item4"</span>&gt;</span>
        Item 4
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
				</div>
			</div>

			<!-- Justified Tabs -->
			<div class="mb-24">
				<h2 class="text-suitmedia font-fira">Justified Tabs</h2>
				<div>
					<ul class="tabs__bar--justify">
						<li
							v-for="(tab, index) in tabs"
							:key="index"
							:class="{
								tabs__nav: true,
								'js-tabs-link': true,
								'is-active': activeTab === tab.id
							}"
							@click="changeTab(tab.id)"
						>
							{{ tab.label }}
						</li>
					</ul>
					<div class="tabs__content">
						<div
							v-for="(tab, index) in tabs"
							:id="tab.id"
							:key="index"
							:class="{
								tabs__item: true,
								'js-tabs-item': true,
								'is-active': activeTab === tab.id
							}"
						>
							{{ tab.content }}
						</div>
					</div>
				</div>

				<div class="text-size14">
					<pre><code class="html hljs xml"><span class="hljs-tag">&lt;<span class="hljs-name">ul</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__bar--justify js-tabs"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link is-active"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified1"</span>&gt;</span>TAB 1<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified2"</span>&gt;</span>TAB 2<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified3"</span>&gt;</span>TAB 3<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__nav js-tabs-link"</span> <span class="hljs-attr">data-control</span>=<span class="hljs-string">"#justified4"</span>&gt;</span>TAB 4<span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item is-active"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified1"</span>&gt;</span>
        Item 1
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified2"</span>&gt;</span>
        Item 2
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified3"</span>&gt;</span>
        Item 3
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"tabs__item js-tabs-item"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"justified4"</span>&gt;</span>
        Item 4
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></code></pre>
				</div>
			</div>
			<hr />
		</div>
	</main>
</template>

<script>
export default {
	data() {
		return {
			activeTab: '',
			tabs: [
				{ id: 'item1', label: 'TAB 1', content: 'Item 1' },
				{ id: 'item2', label: 'TAB 2', content: 'Item 2' },
				{ id: 'item3', label: 'TAB 3', content: 'Item 3' },
				{ id: 'item4', label: 'TAB 4', content: 'Item 4' }
			]
		}
	},
	methods: {
		changeTab(tabId) {
			this.activeTab = tabId
		}
	}
}
</script>
